@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-ext_cyrillic-ext-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.introduce__text,
.projects,
.projects__sublink,
.type-work__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.42px;
  text-align: left;
  color: #696969;
  text-align: justify;
}

.introduce__text p,
.projects p,
.projects__sublink p,
.type-work__description p {
  margin-bottom: 10px;
}

.introduce__text p:last-child,
.projects p:last-child,
.projects__sublink p:last-child,
.type-work__description p:last-child {
  margin-bottom: 0;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 300px;
}

body {
  line-height: 1;
  font-family: "montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "montserrat";
  color: #000;
}

body._lock {
  overflow: hidden;
}

html._lock {
  overflow: hidden;
}

picture {
  line-height: 0;
  font-size: 0;
}

.wrapper {
  background-color: #f5f7fa;
  padding: 10px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* &._loaded {

	} */
}

._container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: calc(19px + 3 * ((100vw - 320px) / 880));
  font-weight: 700;
  line-height: 1.09;
  color: #333;
  margin-bottom: 20px;
}

.title_w {
  color: #fff;
}

.subtitle {
  color: #333;
  font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  font-weight: bold;
  letter-spacing: 0.48px;
  margin-bottom: 0.875em;
  padding-right: 20px;
}

.subtitle span {
  display: inline-block;
  color: #ff6b08;
}

.subtitle__span {
  display: inline-block;
  margin-top: 10px;
  line-height: 1.2;
  color: #ff6b08;
}

.period {
  margin: 14px 0;
  font-size: 12px;
  letter-spacing: 0.36px;
  color: #a8a8a8;
  vertical-align: middle;
}

.period span {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.15);
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume__summary {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 40px 20px;
}

.card {
  background: #1e2939;
  display: block;
  padding: 0 40px;
}

.card__foto-box {
  width: 100%;
  position: relative;
}

.card__foto {
  width: 100%;
  padding-bottom: 100%;
}

.card__info {
  /* 	display: flex;
		flex-direction: column;
		align-items: center; */
  margin: 0 auto;
  padding-left: 40px;
}

.card__skills {
  background: #1e2939;
  margin: 0 -20px calc(40px + 20 * ((100vw - 320px) / 880));
  padding: 20px;
}

.card__skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__skills-item {
  position: relative;
  padding: 0 25px 0 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: #ffffff;
  white-space: nowrap;
}

.card__skills-item span {
  opacity: 0.7;
}

.card__skills-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  border-radius: 50%;
  background: #ff6b08;
}

.contacts {
  background: #1e2939;
  padding: 30px;
}

.contacts__data-line {
  line-height: 24px;
  font-size: 14px;
  color: #fff;
}

.contacts__data-line span {
  font-weight: 700;
  margin-right: 15px;
}

.contacts__phone,
.contacts__email {
  color: #fff;
  opacity: .7;
}

.contacts__phone:hover,
.contacts__email:hover {
  opacity: 1;
}

.contacts__phone {
  text-decoration: none;
}

.contacts__email {
  text-decoration: underline;
}

.summary__introduce {
  margin-bottom: calc(40px + 20 * ((100vw - 320px) / 880));
}

.summary__projects,
.summary__experience {
  margin-bottom: calc(30px + 20 * ((100vw - 320px) / 880));
}

.introduce__name {
  font-size: calc(30px + 15 * ((100vw - 320px) / 880));
  margin: 0.53333em 0;
  font-weight: bold;
  color: #333;
}

.introduce__text {
  max-width: 480px;
}

.projects {
  line-height: 1;
  position: relative;
}

.projects a:hover {
  color: #ff6b08;
}

.projects__title {
  margin-bottom: 12px;
}

.projects__list {
  counter-reset: num;
}

.projects__link {
  padding: 5px 0px 5px 20px;
  position: relative;
}

.projects__link::before {
  position: absolute;
  left: 0;
  counter-increment: num;
  content: counter(num) ".";
  display: inline-block;
  color: #333;
  font-weight: 700;
}

.projects__link-row {
  color: #696969;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__link-column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__link-column:first-child span {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 1px dashed #696969;
  line-height: 1;
  vertical-align: middle;
}

.projects__link-column:last-child {
  display: none;
}

.projects__link-column:last-child::before,
.projects__link-column:last-child::after {
  display: inline-block;
  font-weight: 700;
  color: #333;
}

.projects__link-column:last-child::before {
  content: "[";
  padding-right: 2px;
}

.projects__link-column:last-child::after {
  content: "]";
  padding-left: 2px;
}

.projects__link-title {
  text-decoration: underline;
}

.projects__sublist {
  padding-top: 5px;
}

.projects__sublist li {
  padding: 5px 0px 5px 20px;
  position: relative;
}

.projects__sublist li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(100%, -50%);
      -ms-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #333;
}

.projects__sublist li:hover::before {
  background: #ff6b08;
}

.projects__sublink {
  line-height: 1;
}

.projects__pointer {
  position: absolute;
  left: 200px;
  top: 140px;
  width: 1px;
  height: 1px;
  opacity: 0;
  -webkit-animation: pointer 10s linear 10;
          animation: pointer 10s linear 10;
}

.projects__pointer img {
  width: 20px;
  opacity: 0.8;
}

@-webkit-keyframes pointer {
  0% {
    opacity: 0;
    left: 200px;
    top: 140px;
    border-radius: 50%;
    background: transparent;
  }

  1% {
    opacity: 0.9;
  }

  5% {
    left: 119px;
    top: 66px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
  }

  10% {
    width: 5px;
    height: 5px;
    background: #ff6b08;
  }

  13% {
    width: 10px;
    height: 10px;
    background: #ff6b08;
    opacity: .9;
  }

  15% {
    left: 119px;
    top: 66px;
    opacity: 0;
  }

  100% {
    left: 250px;
    top: 150px;
    border: 0;
    opacity: 0;
  }
}

@keyframes pointer {
  0% {
    opacity: 0;
    left: 200px;
    top: 140px;
    border-radius: 50%;
    background: transparent;
  }

  1% {
    opacity: 0.9;
  }

  5% {
    left: 119px;
    top: 66px;
    width: 0px;
    height: 0px;
    border-radius: 50%;
  }

  10% {
    width: 5px;
    height: 5px;
    background: #ff6b08;
  }

  13% {
    width: 10px;
    height: 10px;
    background: #ff6b08;
    opacity: .9;
  }

  15% {
    left: 119px;
    top: 66px;
    opacity: 0;
  }

  100% {
    left: 250px;
    top: 150px;
    border: 0;
    opacity: 0;
  }
}

@-webkit-keyframes link {
  9% {
    color: #696969;
  }

  10% {
    color: #ff6b08;
  }

  17% {
    color: #ff6b08;
  }

  18% {
    color: #696969;
  }
}

@keyframes link {
  9% {
    color: #696969;
  }

  10% {
    color: #ff6b08;
  }

  17% {
    color: #ff6b08;
  }

  18% {
    color: #696969;
  }
}

.experience__type {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(168, 168, 168, 0.35);
}

.experience__type:last-child {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.education__title {
  margin-bottom: 15px;
}

.education__university {
  color: #ff6b08;
  line-height: 1.5;
}

@media (min-width: 400px) {
  .card__foto-box {
    width: 270px;
    margin: 0 auto;
  }

  .projects__link-column:first-child span {
    display: block;
  }

  .projects__link-title {
    text-decoration: none;
  }
}

@media (min-width: 567.98px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card__foto-box {
    min-width: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
    margin: 0;
  }

  .card__skills {
    margin: 0;
    padding: 20px 0;
  }

  .card__skills-list {
    display: block;
  }

  .card__skills-item {
    padding: 0 0 0 15px;
  }

  .projects__link-column {
    /* &:first-child span {
				display: block;
			} */
  }

  .projects__link-column:last-child {
    display: block;
  }
}

@media (min-width: 620px) {
  .contacts {
    padding: 20px 0;
  }
}

@media (min-width: 700px) {
  .card__foto-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

@media (min-width: 767.98px) {
  .wrapper {
    padding: calc(10px + 30 * ((100vw - 767.98px) / 432.02));
  }

  .page {
    -webkit-box-shadow: calc(3px + 2 * ((100vw - 320px) / 447.98)) calc(3px + 5.7 * ((100vw - 320px) / 447.98)) calc(5px + 15 * ((100vw - 320px) / 447.98)) 0 rgba(0, 0, 0, 0.15);
            box-shadow: calc(3px + 2 * ((100vw - 320px) / 447.98)) calc(3px + 5.7 * ((100vw - 320px) / 447.98)) calc(5px + 15 * ((100vw - 320px) / 447.98)) 0 rgba(0, 0, 0, 0.15);
  }

  .resume {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .resume__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30.83333%;
            flex: 0 0 30.83333%;
    max-width: 370px;
  }

  .resume__summary {
    padding: calc(40px + 60 * ((100vw - 767.98px) / 432.02)) calc(40px + 140 * ((100vw - 767.98px) / 432.02)) calc(40px + 60 * ((100vw - 767.98px) / 432.02)) calc(40px + 50 * ((100vw - 767.98px) / 432.02));
  }

  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 40px 0;
  }

  .card__foto-box {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .card__info {
    margin: 0;
    padding: 30px 40px 30px 40px;
  }

  .projects__link-column {
    /* &:first-child span {
				display: none;
			} */
  }

  .projects__link-column:last-child {
    display: none;
  }
}

@media (min-width: 991.98px) {
  .projects__link-column {
    /* &:first-child span {
				display: block;
			} */
  }

  .projects__link-column:last-child {
    display: block;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 22px;
  }

  .subtitle {
    font-size: 16px;
  }

  .page {
    -webkit-box-shadow: 5px 8.7px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 5px 8.7px 20px 0 rgba(0, 0, 0, 0.15);
  }

  .resume__summary {
    padding: 100px 180px 100px 90px;
  }

  .summary__introduce {
    margin-bottom: 60px;
  }

  .summary__projects,
  .summary__experience {
    margin-bottom: 50px;
  }

  .introduce__name {
    font-size: 45px;
  }
}

@media (max-width: 567.98px) {
  ._container {
    padding: 0 10px;
  }
}