.notify-label {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 2px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    vertical-align: middle;
    height: 19px;
    width: 19px;
    color: #fff;
    background: #e83a3a;
    overflow: hidden;
    user-select: none;
}

// Класс общий для всех контекстных меню .context-menu
// Индивидуальные правила переопределяются в родительских элементах
.context-menu {
    position: relative;
    z-index: 5;
    top: 0; // при необходимости переопределяются непосредственно в самом элементе
    right: 0; // при необходимости переопределяются непосредственно в самом элементе
    color: #000;

    &__btn {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
    }

    &__svg {
        display: block;
        width: 20px;
        height: 20px;
        fill: #808080;
    }

    ul {
        position: absolute;
        z-index: 100;
        max-width: calc(100vw - 20px);
        opacity: 0;
        visibility: hidden;
    }

    &__list {
        top: 100%;
        right: 0;
        padding: 3px 0;
        display: inline-block;
        background: #fff;
        white-space: nowrap;
        border-radius: 3px;
        box-shadow: 0 5px 15px rgb(0, 0, 0, 0.07), 0 3px 6px rgb(0, 0, 0, 0.15);
    }

    &__item {
        cursor: pointer;
        display: block;
        width: 100%;
        line-height: 20px;
        padding: 10px 12px;
        background: none;
        text-align: left;
        font-size: inherit;

        svg {
            //fill: #000;
        }

        &:hover {
            background: #e2e2e2;
        }
    }

    &._open {
        z-index: 9;

        ul {
            animation: context-menu $t ease forwards;
            opacity: 1;
            visibility: visible;
            z-index: 999;
        }
    }
}

// Анимацыя для выпадающих контекстных меню .context-menu
@keyframes context-menu {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 20px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}

/*
    custom-pop-up - кастомный поп-ап на весь экран содержащий кнопку закрыия custom-pop-up__close
    и затемняющуюся подложку custom-pop-up__cover клики на которые обрабатываются общим js.
    Открывается при добавлениикласса опен  _open, закрывается при удалении.
    Переносится в конец <body> и позиционируется position: fixed;
*/
.custom-pop-up {
    position: fixed;
    z-index: -3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    overflow-y: auto;

    &._open {
        z-index: 999;
        opacity: 1;
        visibility: visible;
    }

    // .custom-pop-up__cover
    &__cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
    }
    // .custom-pop-up__body
    &__body {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        padding: 32px 10px;
    }
    // .custom-pop-up__content
    &__content {
        position: relative;
        z-index: 3;
        max-width: 100%;
        margin: 0 auto;
        background: #fff;
        border-radius: 8px;
    }
    // .custom-pop-up__close
    &__close {
        width: 34px;
        height: 34px;
        position: absolute;
        top: 10px;
        right: 10px;
        background: #ffffff no-repeat center / 14px
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M8.64341 6.99901L13.6552 1.99813C13.8747 1.77862 13.998 1.48091 13.998 1.17048C13.998 0.860046 13.8747 0.562331 13.6552 0.342824C13.4358 0.123318 13.1381 0 12.8277 0C12.5173 0 12.2196 0.123318 12.0002 0.342824L7 5.35536L1.99983 0.342824C1.78036 0.123318 1.48268 -2.31288e-09 1.1723 0C0.861913 2.31288e-09 0.56424 0.123318 0.344765 0.342824C0.125289 0.562331 0.00198911 0.860046 0.00198911 1.17048C0.00198911 1.48091 0.125289 1.77862 0.344765 1.99813L5.35659 6.99901L0.344765 11.9999C0.235521 12.1083 0.148811 12.2372 0.0896384 12.3792C0.0304655 12.5213 0 12.6736 0 12.8275C0 12.9814 0.0304655 13.1338 0.0896384 13.2758C0.148811 13.4179 0.235521 13.5468 0.344765 13.6552C0.453117 13.7644 0.582027 13.8512 0.724059 13.9103C0.866091 13.9695 1.01843 14 1.1723 14C1.32616 14 1.47851 13.9695 1.62054 13.9103C1.76257 13.8512 1.89148 13.7644 1.99983 13.6552L7 8.64265L12.0002 13.6552C12.1085 13.7644 12.2374 13.8512 12.3795 13.9103C12.5215 13.9695 12.6738 14 12.8277 14C12.9816 14 13.1339 13.9695 13.2759 13.9103C13.418 13.8512 13.5469 13.7644 13.6552 13.6552C13.7645 13.5468 13.8512 13.4179 13.9104 13.2758C13.9695 13.1338 14 12.9814 14 12.8275C14 12.6736 13.9695 12.5213 13.9104 12.3792C13.8512 12.2372 13.7645 12.1083 13.6552 11.9999L8.64341 6.99901Z' fill='%23B5B5B5'/%3E%3C/svg%3E");
        border: 0;
        transition: all 0.3s ease;
        border-radius: 8px;

        &:hover {
            background-color: #f0f0f0;
        }
    }
    // .custom-pop-up__title
    &__title {
        padding-right: 54px;
    }
}

// .big-blue-btn
.big-blue-btn {
    display: block;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    background: $blue-btn;
    box-shadow: 0px 4px 4px rgba(117, 117, 117, 0.12);
    border-radius: 8px;
    border: 0;
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.5px;

    &--active {
        background: #176ca4;
    }

    &:hover {
        box-shadow: 0px 4px 4px rgba(117, 117, 117, 0.3);
    }

    &:active {
        background: $blue-btn;
    }

    &:disabled {
        background: #ccc;
    }
}

.blue-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 5px;
    //background: #2987C5;
    background: #80acc9;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    transition: all 0.3s ease;
    margin: 0;

    &--active {
        background: #518eb7;
    }

    &:hover {
        box-shadow: 0px 4px 4px rgba(117, 117, 117, 0.3);
    }

    &:active {
        background: $blue-btn;
    }

    &:disabled {
        background: #ccc;
    }
}

.white-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px;
    color: #383838;
    background: #ffffff;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.3s ease;

    &:hover {
        // box-shadow: 0px 4px 4px rgba(117, 117, 117, 0.3);
        color: #000;
        background-color: #f0f0f0;
        border-color: #000;
    }

    &:active {
        background-color: #fafafa;
    }

    &:disabled {
        background: #ccc;
        border-color: #ccc;
    }
}

// для скрытия элементов
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

._loading {
    position: relative;
    pointer-events: none;
    overflow: visible !important;

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: rgba(255, 255, 255, 0.7) no-repeat center/42px url("/images/preloader.gif");
    }
}

// Класс input-wrapper и custom-input - общая для всех страниц стилизация инпутов

.custom-input {
    flex: 1 1 auto;
    width: 100%;
    padding: 12px;
    background: #ffffff;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    color: #383838;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.3s ease;

    &::placeholder {
        color: #383838;
    }

    &:hover,
    &:focus {
        border-color: #323232;
    }

    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}

.input-wrapper {
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        transform: translate(-100%, -50%);
        fill: #000;
    }

    &--left {
        .custom-input {
            padding-left: 45px;
        }

        svg {
            left: 35px;
        }
    }

    &--right {
        .custom-input {
            padding-right: 45px;
        }

        svg {
            right: 35px;
        }
    }
}

.post-tag,
.post-label {
    cursor: pointer;
    display: inline-flex;
    margin: 0 7px 7px 0;
    padding: 3px 13px 4px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;
    border: 0;

    &__btn {
        display: none;
        position: absolute;
        top: 0;
        right: 5px;
        width: 21px;
        height: 21px;
        border: 0;
        //transition: background-size .3s ease;

        &:hover {
            background-size: 11px;
        }
    }

    &--with-btn {
        cursor: default;
        position: relative;

        .post-label__btn,
        .post-tag__btn {
            display: block;
        }
    }
}
// теги в постах и в окне модерации
.post-tag {
    color: #808080;
    background: #f1f1f1;

    &--with-btn {
        padding-right: 28px;
    }

    &__btn {
        background: transparent no-repeat center/9px
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='8' viewBox='0 0 7 8' fill='none'%3E%3Cpath d='M4.32171 3.9995L6.82762 1.49906C6.93736 1.38931 6.99901 1.24045 6.99901 1.08524C6.99901 0.930023 6.93736 0.781166 6.82762 0.671412C6.71788 0.561659 6.56904 0.5 6.41385 0.5C6.25866 0.5 6.10982 0.561659 6.00008 0.671412L3.5 3.17768L0.999916 0.671412C0.890178 0.561659 0.741342 0.5 0.586149 0.5C0.430957 0.5 0.28212 0.561659 0.172382 0.671412C0.0626446 0.781166 0.000994557 0.930023 0.000994556 1.08524C0.000994554 1.24045 0.0626446 1.38931 0.172382 1.49906L2.67829 3.9995L0.172382 6.49994C0.11776 6.55413 0.0744057 6.61859 0.0448192 6.68962C0.0152327 6.76064 0 6.83682 0 6.91377C0 6.99071 0.0152327 7.06689 0.0448192 7.13792C0.0744057 7.20895 0.11776 7.27341 0.172382 7.32759C0.226558 7.38222 0.291013 7.42559 0.362029 7.45518C0.433045 7.48477 0.509217 7.5 0.586149 7.5C0.663082 7.5 0.739253 7.48477 0.810269 7.45518C0.881285 7.42559 0.94574 7.38222 0.999916 7.32759L3.5 4.82133L6.00008 7.32759C6.05426 7.38222 6.11872 7.42559 6.18973 7.45518C6.26075 7.48477 6.33692 7.5 6.41385 7.5C6.49078 7.5 6.56696 7.48477 6.63797 7.45518C6.70899 7.42559 6.77344 7.38222 6.82762 7.32759C6.88224 7.27341 6.9256 7.20895 6.95518 7.13792C6.98477 7.06689 7 6.99071 7 6.91377C7 6.83682 6.98477 6.76064 6.95518 6.68962C6.9256 6.61859 6.88224 6.55413 6.82762 6.49994L4.32171 3.9995Z' fill='%23B5B5B5'/%3E%3C/svg%3E");
    }
}

// Лейблы в постах и в окне модерации
.post-label {
    color: #ffffff;
    background: #80acc9; //#abc8db;

    svg {
        fill: #ffffff;
        margin-right: 8px;
    }

    &--with-btn {
        padding-right: 32px;
    }

    &--active {
        background: #4a80a4;
    }

    &__btn {
        background: transparent no-repeat center/9px
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='8' viewBox='0 0 7 8' fill='none'%3E%3Cpath d='M4.32171 3.9995L6.82762 1.49906C6.93736 1.38931 6.99901 1.24045 6.99901 1.08524C6.99901 0.930023 6.93736 0.781166 6.82762 0.671412C6.71788 0.561659 6.56904 0.5 6.41385 0.5C6.25866 0.5 6.10982 0.561659 6.00008 0.671412L3.5 3.17768L0.999916 0.671412C0.890178 0.561659 0.741342 0.5 0.586149 0.5C0.430957 0.5 0.28212 0.561659 0.172382 0.671412C0.0626446 0.781166 0.000994557 0.930023 0.000994556 1.08524C0.000994554 1.24045 0.0626446 1.38931 0.172382 1.49906L2.67829 3.9995L0.172382 6.49994C0.11776 6.55413 0.0744057 6.61859 0.0448192 6.68962C0.0152327 6.76064 0 6.83682 0 6.91377C0 6.99071 0.0152327 7.06689 0.0448192 7.13792C0.0744057 7.20895 0.11776 7.27341 0.172382 7.32759C0.226558 7.38222 0.291013 7.42559 0.362029 7.45518C0.433045 7.48477 0.509217 7.5 0.586149 7.5C0.663082 7.5 0.739253 7.48477 0.810269 7.45518C0.881285 7.42559 0.94574 7.38222 0.999916 7.32759L3.5 4.82133L6.00008 7.32759C6.05426 7.38222 6.11872 7.42559 6.18973 7.45518C6.26075 7.48477 6.33692 7.5 6.41385 7.5C6.49078 7.5 6.56696 7.48477 6.63797 7.45518C6.70899 7.42559 6.77344 7.38222 6.82762 7.32759C6.88224 7.27341 6.9256 7.20895 6.95518 7.13792C6.98477 7.06689 7 6.99071 7 6.91377C7 6.83682 6.98477 6.76064 6.95518 6.68962C6.9256 6.61859 6.88224 6.55413 6.82762 6.49994L4.32171 3.9995Z' fill='white'/%3E%3C/svg%3E");
    }
}
