<section class="stock-factors stock-factors--collapsed">
  <div class="stock-factors__inner">
    <h2 class="stock-factors__title">
      НМТП - факторы роста и падения акций
    </h2>
    <div class="stock-factors__content">
      <ul class="stock-factors__growth">
        <li class="stock-factors__growth-item">
          Уникальный актив. Генерирует огромный свободный денежный поток, к-й почти не зависит от экономического цикла. Отличная рентабельность.
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__growth-item">
          Снижение покупок нефти со стороны ЕС после 24.02.22 должно спровоцировать рост перевалки через Новороссийский порт (избыточные мощности есть)
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__growth-item">
          Снижение покупок нефти со стороны ЕС после 24.02.22 должно спровоцировать рост перевалки через Новороссийский порт (избыточные мощности есть)
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__growth-item">
          Уникальный актив. Генерирует огромный свободный денежный поток, к-й почти не зависит от экономического цикла. Отличная рентабельность.
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__growth-item">
          Снижение покупок нефти со стороны ЕС после 24.02.22 должно спровоцировать рост перевалки через Новороссийский порт (избыточные мощности есть)
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__growth-item">
          Снижение покупок нефти со стороны ЕС после 24.02.22 должно спровоцировать рост перевалки через Новороссийский порт (избыточные мощности есть)
          <span>(29.12.2017)</span>
        </li>
      </ul>
      <ul class="stock-factors__fall">
        <li class="stock-factors__fall-item">
          Стратегия до 2029 года подразумевает рост годовых капзатрат до 11 млрд в год в среднем, что ограничит суммы для выплаты дивидендов.
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__fall-item">
          Компания с 2019 года перестала публиковать презентации для инвесторов
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__fall-item">
          Компания с 2019 года перестала публиковать презентации для инвесторов
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__fall-item">
          Стратегия до 2029 года подразумевает рост годовых капзатрат до 11 млрд в год в среднем, что ограничит суммы для выплаты дивидендов.
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__fall-item">
          Компания с 2019 года перестала публиковать презентации для инвесторов
          <span>(29.12.2017)</span>
        </li>
        <li class="stock-factors__fall-item">
          Компания с 2019 года перестала публиковать презентации для инвесторов
          <span>(29.12.2017)</span>
        </li>
      </ul>
    </div>

    <div class="stock-factors__cover">

      <button class="stock-factors__show-all">
        <svg class="stock-factors__show-all-icon">
          <use href="#icon-unlock"></use>
        </svg>
        <span>
          Смотреть все факторы (10)
        </span>
      </button>
      <div class="stock-factors__hint">
         ⚠️  Если вы считаете, что какой-то фактор роста/падения больше не является актуальным, выделите его и нажмите CTRL+ENTER на клавиатуре, чтобы сообщить нам.
      </div> 
    </div>
  </div>
</section>

<script>
  document.querySelector('.stock-factors__show-all')?.addEventListener('click', (e) => {
    e.target.closest('.stock-factors--collapsed')?.classList.remove('stock-factors--collapsed')
  })
</script>
