//<МИКСИНЫ>===============================================================================================
@import "./base/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "./base/fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Tahoma, OpenSans,  Verdana, sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "./base/variables";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "./base/null";

body {
	font-family: $fontFamily;
	background: $style-1-main-bg;
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
html._lock  {
	overflow: hidden;
}
picture {
    line-height: 0;
    font-size: 0;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	/* &._loaded {

	} */
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "./base/forms";
//@import "./base/ui";
@import "./base/global";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./plugins/simplebar";
@import "./plugins/swiper";
@import "./plugins/sumoselect";
@import "./plugins/datepicker-new";
@import "./plugins/flex-table";
//@import "./plugins/nouislider";
@import "./plugins/nouislider";
//@import "./blocks/pagging";
//@import "./blocks/popup";
@import "./blocks/header";
@import "./blocks/_menu";
@import "./blocks/_alphabet";
@import "./blocks/navbar";
@import "./blocks/main";
@import "./blocks/social-btn";
@import "./blocks/footer";
@import "./blocks/_quotes-menu";
@import "./blocks/_qn-filters";
@import "./blocks/_trades-table";


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main{
	flex: 1 1 auto;
	background: #E5E5E5;
	&___quotes {
		
	}
  // .main__table 
  &__table {
    margin: 20px auto 70px;

    @media (min-width: $md3 + px) {
      padding: 0 5px;
    }
  }
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

