@charset "UTF-8";

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* maven-pro-regular - latin */

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/maven-pro-v21-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/maven-pro-v21-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/maven-pro-v21-latin-regular.woff2") format("woff2"), url("../fonts/maven-pro-v21-latin-regular.woff") format("woff"), url("../fonts/maven-pro-v21-latin-regular.ttf") format("truetype"), url("../fonts/maven-pro-v21-latin-regular.svg#MavenPro") format("svg");
  /* Legacy iOS */
}

/* maven-pro-500 - latin */

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/maven-pro-v21-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/maven-pro-v21-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/maven-pro-v21-latin-500.woff2") format("woff2"), url("../fonts/maven-pro-v21-latin-500.woff") format("woff"), url("../fonts/maven-pro-v21-latin-500.ttf") format("truetype"), url("../fonts/maven-pro-v21-latin-500.svg#MavenPro") format("svg");
  /* Legacy iOS */
}

/* maven-pro-700 - latin */

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/maven-pro-v21-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/maven-pro-v21-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/maven-pro-v21-latin-700.woff2") format("woff2"), url("../fonts/maven-pro-v21-latin-700.woff") format("woff"), url("../fonts/maven-pro-v21-latin-700.ttf") format("truetype"), url("../fonts/maven-pro-v21-latin-700.svg#MavenPro") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?62673497");
  src: url("../fonts/fontello/fontello.eot?62673497#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?62673497") format("woff2"), url("../fonts/fontello/fontello.woff?62673497") format("woff"), url("../fonts/fontello/fontello.ttf?62673497") format("truetype"), url("../fonts/fontello/fontello.svg?62673497#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62673497#fontello') format('svg');
  }
}
*/

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.ic-twitter:before {
  content: '\f099';
}

/* '' */

.ic-facebook:before {
  content: '\f09a';
}

/* '' */

.ic-instagram:before {
  content: '\f16d';
}

/* '' */

.ic-vkontakte:before {
  content: '\f189';
}

/* '' */

body {
  font-family: "Maven Pro", sans-serif;
}

html.lock,
body.lock {
  overflow: hidden;
}

.header {
  position: relative;
  height: 100vh;
  color: #fff;
}

.header::before,
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header::before {
  background-image: url(../img/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -2;
}

.header::after {
  background: -o-linear-gradient(150deg, #88d3cece 0%, #6e45e2ce 100%);
  background: linear-gradient(-60deg, #88d3cece 0%, #6e45e2ce 100%);
  z-index: -1;
}

@supports (-webkit-appearance: none) {
  .header::before {
    background-image: url(../img/bg_header.webp);
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.logo {
  margin-right: 30px;
}

.logo h2 {
  padding-left: 65px;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 6px;
  background-image: url(../img/logo.png);
  background-size: 48px 48px;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.logo:hover {
  text-shadow: 0 19px 20px rgba(204, 204, 223, 0.6);
}

@supports (-webkit-appearance: none) {
  .logo h2 {
    background-image: url(../img/logo.webp);
  }
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 770px;
  flex: 0 1 770px;
}

.drop-down {
  width: 100%;
}

.drop-down__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 590px;
  flex: 0 1 590px;
  list-style: none;
  font-size: 1em;
  font-weight: 500;
  line-height: 48px;
}

.drop-down__item {
  padding: 0 1.87em;
  position: relative;
}

.drop-down__item::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.drop-down__item:hover::after {
  opacity: 1;
}

.drop-down__item--active.drop-down__item::after {
  opacity: 1;
}

.nav__btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-left: 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__btn .nav__btn-span-1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
}

.nav__btn .nav__btn-span-2 {
  display: none;
}

.nav__btn:hover {
  color: #75a5c9;
  background: #fff;
}

.header__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__subtitle {
  font-size: 0.875rem;
  margin-bottom: 1.875em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__subtitle h3 {
  text-align: center;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 0 1.07em;
}

.header__subtitle::before,
.header__subtitle::after {
  content: '';
  display: block;
  width: 1.8em;
  height: 1px;
  background: #fff;
  line-height: calc(1em + 1px);
  margin: 7px 0;
}

.header__titel h1 {
  font-size: 6.14rem;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 0.209em;
}

.header__description {
  overflow: hidden;
  max-width: 400px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2em;
  text-align: center;
}

.header__arrow {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  border-radius: 32px;
  background: #fff;
  background-image: url(../img/icons/arrows.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.header__arrow:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 19px 2px #ccccdf;
  box-shadow: 0 0 19px 2px #ccccdf;
}

@supports (-webkit-appearance: none) {
  .header__arrow {
    background-image: url(../img/icons/arrows.webp);
  }
}

.select-plan {
  -webkit-box-shadow: inset 0 -1px 0 #e8ebf1, inset 0 1px 0 #e8ebf1;
  box-shadow: inset 0 -1px 0 #e8ebf1, inset 0 1px 0 #e8ebf1;
  background-color: #f9fafc;
}

.select-plan__container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 8.7vh 1.5625em;
}

.select-plan__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.select-plan__subtitle {
  color: #9fa4af;
  font-size: 0.875rem;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1.28571em;
  padding: 0 1.35714em;
}

.select-plan__subtitle span {
  display: inline-block;
  padding: 0 1.35714em;
  font-weight: 700;
}

.select-plan__subtitle::before,
.select-plan__subtitle::after {
  content: '';
  display: inline-block;
  width: 1.71429em;
  height: 1px;
  line-height: 1em;
  vertical-align: middle;
  background-color: #6e45e2;
}

.select-plan__title {
  margin-bottom: 2.8125em;
}

.select-plan__title h2 {
  margin-bottom: 0.33333em;
  color: #4f4f6f;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  letter-spacing: -0.02817em;
  line-height: 1em;
}

.select-plan__description {
  max-width: 400px;
  color: #9fa4af;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
  text-align: center;
}

.select-plan__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.select-plan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.33%;
  flex: 1 1 33.33%;
  max-width: 440px;
}

.select-plan__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 290px;
  margin: 1.5625em;
  border-radius: 30px;
  border: 1px solid #d7dbe8;
  background-color: #ffffff;
  padding-bottom: 4.125em;
}

.select-plan__item-inner:hover {
  -webkit-box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
  box-shadow: 0 0 82px 10px rgba(204, 204, 223, 0.71);
}

.item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 220px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item__img img {
  margin: auto;
}

.item__price p {
  color: #9fa4af;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.85714em;
  text-align: center;
}

.item__price span {
  display: inline-block;
  font-size: 3.75rem;
  letter-spacing: -0.02817em;
  color: #4f4f6f;
  font-weight: 500;
  margin-bottom: 0.66667em;
}

.item__price span::before {
  content: '$';
  position: relative;
  bottom: 1.5em;
  font-size: 1.125rem;
  letter-spacing: -0.09389em;
}

.item__price span::after {
  content: '/month';
  font-size: 1.125rem;
  letter-spacing: -0.02833em;
}

.item__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  max-width: 330px;
  margin: 0 auto;
  padding: 0 20px;
  color: #9fa4af;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
  text-align: center;
  margin-bottom: 3.125em;
}

.select-btn {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.75rem;
  width: 15.83333em;
  height: 4.16667em;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  border-radius: 2.08333em;
  border: 1px solid #d7dbe8;
  background-color: #ffffff;
  color: #c2c9db;
  font-weight: 700;
  line-height: 3em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.select-btn:hover {
  background-color: #6e45e2;
  color: #ffffff;
}

.take-section {
  height: 552px;
  position: relative;
  background: -o-linear-gradient(150deg, #88d3ceaa 0%, #6e45e2b0 100%);
  background: linear-gradient(-60deg, #88d3ceaa 0%, #6e45e2b0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 1em;
}

.take-section__img-box {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 427px;
}

.take-section__img {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../img/map.png);
  background-position: center;
  background-size: cover;
}

@supports (-webkit-appearance: none) {
  .take-section__img__container {
    background-image: url(../img/map.webp);
  }
}

.take-section__subtitle {
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.take-section__title {
  font-size: 3.75rem;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: -0.02817em;
  margin: 0.41667em 0 0.58333em;
}

.take-section__get,
.take-section__explore {
  margin: 0 5px 1em;
}

/* @media (max-width: 970px) and (orientation: landscape){ 
    .take-section{
        @import '_menu_drop-down';
    }
} */

.bottom-menu {
  color: #6a6a77;
}

.bottom-menu .nav {
  position: static;
}

.bottom-menu a {
  text-decoration: none;
  font-weight: 500;
}

.bottom-menu h2 {
  color: #37374a;
}

.bottom-menu .logo:hover {
  text-shadow: 0 19px 20px rgba(105, 105, 207, 0.9);
}

.bottom-menu .drop-down__item::after {
  background: #6a6a77;
}

.bottom-menu .drop-down__item:first-child {
  color: #756edc;
}

.bottom-menu .drop-down__item--active.drop-down__item::after {
  opacity: 0;
}

.bottom-menu .drop-down__item--active.drop-down__item:hover::after {
  opacity: 1;
}

.bottom-menu .menu-btn__line {
  background: #756edc;
}

.bottom-menu .menu-btn__line::before,
.bottom-menu .menu-btn__line::after {
  background: #756edc;
}

.bottom-menu .drop-down__item--active {
  color: #756edc;
}

.bottom-menu__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}

.bottom-menu__wraper {
  padding: 3.0625em 0 1.8125em;
  border-bottom: 1px solid  #bdbdc2;
}

.drop-down.bottom-menu__drop-down {
  position: static;
}

.menu-btn.menu-btn--coner {
  position: fixed;
  top: 20px;
  right: 20px;
}

.menu-btn.menu-btn--coner .menu-btn__line::before,
.menu-btn.menu-btn--coner .menu-btn__line::after {
  background: #fff;
}

.bottom-menu__btn-1,
.bottom-menu__btn-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 3.125em;
  border: 1px solid #d7dbe8;
  background-color: #6e45e2;
  border-radius: 1.5625em;
  color: #fff;
  margin-left: 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.bottom-menu__btn-1 span,
.bottom-menu__btn-2 span {
  margin: auto;
  display: block;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
}

.bottom-menu__btn-1:hover,
.bottom-menu__btn-2:hover {
  background: #fff;
  border: 1px solid  #6e45e2;
}

.bottom-menu__btn-1:hover span,
.bottom-menu__btn-2:hover span {
  color: #6a6a77;
}

.bottom-menu__btn-2 {
  display: none;
  margin: 20px auto 0;
}

.footer__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 34px 50px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__copy {
  display: block;
  font-size: 0.875rem;
  line-height: 1em;
  font-weight: 500;
  color: #6a6a77;
}

.social {
  display: block;
}

.social a {
  opacity: 0.5;
  color: #6a6a77;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
  margin-left: 15px;
}

@media (max-width: 1150px) {
  .container {
    padding: 20px;
  }

  .drop-down__item {
    padding: 0 0.7em;
  }

  .bottom-menu__container {
    padding: 0 20px;
  }

  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 970px) {
  .nav__menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .drop-down__items {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 590px;
    flex: 0 1 590px;
  }

  .drop-down__item {
    padding: 0 1em;
  }

  .nav__btn {
    margin: 30px 1em 0 0;
  }

  .bottom-menu__btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 820px) {
  .menu-btn__line,
  .menu-btn__line::before,
  .menu-btn__line::after {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: calc(2px);
  }

  .menu-btn {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 5;
  }

  .menu-btn__line {
    position: relative;
  }

  .menu-btn__line::before,
  .menu-btn__line::after {
    content: '';
    position: absolute;
    left: 0;
  }

  .menu-btn__line::before {
    top: -9px;
    -webkit-transition: top 0.25s linear 0.25s, -webkit-transform 0.25s ease;
    transition: top 0.25s linear 0.25s, -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease, top 0.25s linear 0.25s;
    transition: transform 0.25s ease, top 0.25s linear 0.25s;
    transition: transform 0.25s ease, top 0.25s linear 0.25s, -webkit-transform 0.25s ease;
  }

  .menu-btn__line::after {
    bottom: -9px;
    -webkit-transition: bottom 0.25s linear 0.25s, -webkit-transform 0.25s ease;
    transition: bottom 0.25s linear 0.25s, -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease, bottom 0.25s linear 0.25s;
    transition: transform 0.25s ease, bottom 0.25s linear 0.25s;
    transition: transform 0.25s ease, bottom 0.25s linear 0.25s, -webkit-transform 0.25s ease;
  }

  .menu-btn--activ .menu-btn__line {
    background: transparent;
  }

  .menu-btn--activ .menu-btn__line::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.25s linear, -webkit-transform 0.25s ease 0.25s;
    transition: top 0.25s linear, -webkit-transform 0.25s ease 0.25s;
    -o-transition: top 0.25s linear, transform 0.25s ease 0.25s;
    transition: top 0.25s linear, transform 0.25s ease 0.25s;
    transition: top 0.25s linear, transform 0.25s ease 0.25s, -webkit-transform 0.25s ease 0.25s;
  }

  .menu-btn--activ .menu-btn__line::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0;
    -webkit-transition: bottom 0.25s linear, -webkit-transform 0.25s ease 0.25s;
    transition: bottom 0.25s linear, -webkit-transform 0.25s ease 0.25s;
    -o-transition: bottom 0.25s linear, transform 0.25s ease 0.25s;
    transition: bottom 0.25s linear, transform 0.25s ease 0.25s;
    transition: bottom 0.25s linear, transform 0.25s ease 0.25s, -webkit-transform 0.25s ease 0.25s;
  }

  /*
$btn-height : 30px; 
$line-width : 30px;
$line-height: 4px;
$line-d     : 9px;
$line-bg    : #fff;
$t          : .3s;
*/

  .drop-down {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .drop-down .menu-btn {
    z-index: 10;
  }

  .drop-down__items {
    overflow: hidden;
    background: -o-linear-gradient(150deg, #88d3cece 0%, #6e45e2ce 100%);
    background: linear-gradient(-60deg, #88d3cece 0%, #6e45e2ce 100%);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    opacity: 0;
    -webkit-transition: opacity 0.25s ease 0.25s, -webkit-transform 0.25s linear 0.5s;
    transition: opacity 0.25s ease 0.25s, -webkit-transform 0.25s linear 0.5s;
    -o-transition: opacity 0.25s ease 0.25s, transform 0.25s linear 0.5s;
    transition: opacity 0.25s ease 0.25s, transform 0.25s linear 0.5s;
    transition: opacity 0.25s ease 0.25s, transform 0.25s linear 0.5s, -webkit-transform 0.25s linear 0.5s;
  }

  .drop-down__item {
    position: relative;
    width: 50vw;
    list-style: none;
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
    -webkit-transition: all 0.25s ease 0.25s;
    -o-transition: all 0.25s ease 0.25s;
    transition: all 0.25s ease 0.25s;
    text-align: center;
    margin: 1% auto;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 1.5em;
    font-size: 3vh;
    min-width: 250px;
  }

  .drop-down__item a {
    display: block;
    border-radius: 1.5em;
    text-decoration: none;
    color: #fff;
    line-height: 3em;
    font-weight: 500;
    background: #6e45e2ce;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .drop-down__item a:hover {
    background: #ffffff;
  }

  .drop-down__item a:hover {
    color: #6e45e2ce;
  }

  .drop-down__item::after {
    display: none;
  }

  .drop-down--active .drop-down__item {
    -webkit-transition: all 0.25s linear 0.25s;
    -o-transition: all 0.25s linear 0.25s;
    transition: all 0.25s linear 0.25s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .drop-down--active .drop-down__items {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

  .nav__menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  .nav__btn {
    margin: 0 0 0 30px;
  }

  .drop-down {
    width: auto;
  }

  .menu__btn {
    margin-left: 30px;
  }

  .bottom-menu__btn-1 {
    margin-top: 0;
  }

  .footer__container {
    display: block;
  }

  .footer__copy {
    margin-bottom: 2em;
    text-align: center;
  }

  .social {
    text-align: center;
  }
}

@media (max-width: 815px) and (orientation: landscape) {
  .header .container {
    padding: 10px;
  }

  .header__subtitle {
    font-size: 0.67rem;
    margin-bottom: 1.2em;
  }

  .header__titel h1 {
    font-size: 4.8rem;
  }

  .header__arrow {
    width: 40px;
    height: 40px;
  }

  .select-plan__container {
    padding: 12vh 1.5625em;
  }

  .take-section {
    height: 100vh;
  }

  .take-section__img-box {
    height: 100vh;
  }
}

@media (max-width: 815px) and (orientation: portrait) {
  .select-plan__container {
    padding: 8vh 1.5625em;
  }
}

@media (max-width: 570px) {
  :root {
    font-size: 14px;
  }

  .header__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
  }

  .nav__btn {
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 40px;
    height: 40px;
    line-height: 1em;
  }

  .nav__btn .nav__btn-span-1 {
    display: none;
  }

  .nav__btn .nav__btn-span-2 {
    display: inline;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
  }

  .nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-menu__btn-1 {
    display: none;
  }

  .bottom-menu__btn-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 570px) and (orientation: portrait) {
  .select-plan__container {
    padding: 5.5vh 1.5625em;
  }
}

@media (max-width: 460px) {
  .logo {
    margin-right: 20px;
  }

  .logo h2 {
    font-size: 20px;
    line-height: 40px;
    background-size: 40px 40px;
    padding-left: 50px;
  }

  .nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav__btn {
    margin: 20px 0 0 0;
  }

  .header__arrow {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 350px) {
  .header .container {
    padding: 5px;
  }

  .header__titel h1 {
    font-size: 4rem;
  }

  .select-plan__title h2 {
    font-size: 3rem;
  }

  .select-plan__item-inner {
    min-width: 260px;
    margin: 0.8em;
  }
}