// правила для  axel.html
.main {
    background: #f7f7f7;

    // .main__content   
    &__content {
        max-width: 600px !important;
        width: 100% !important;
        background: #ffffff;
    }

    // .main__wrap 
    &__wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    // .main__inner 
    &__inner {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.content {

    // .content__out-link   
    &__out-link {
        padding-bottom: 16px;

        a {
            display: inline-block;
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #999999;
            text-decoration: none;
            border-bottom: 1px solid #999999;
        }
    }

    // .content__out-link-arrow 
    &__out-link-arrow {
        margin-left: 4px;
    }

    // .content__logo    
    &__logo {
        padding-bottom: 16px;

        a {
            display: inline-block;
        }

        img {
            background: #f8fbfc;
        }
    }

    // .content__hi 
    &__hi {
        padding-bottom: 16px;
        font-weight: 700;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
        color: #212121;
    }

    // .content__about  
    &__about {
        padding-bottom: 28px;
        font-size: 14px;
        line-height: 20px;
        color: #424242;
    }

    // .content__title  
    &__title {
        padding-bottom: 16px;
        font-weight: 700;
        font-size: 19px;
        line-height: 28px;
        color: #212121;
        text-align: center;

        &--pb8 {
            padding-bottom: 8px;
        }
    }

    // .content__catalog    
    &__catalog {
        border-bottom: 1px solid #E8E8E8;
    }

    // .content__benefits
    &__benefits {
        padding-top: 28px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E8E8E8;
    }

    // .content__location
    &__location {
        padding-top: 28px;
        padding-bottom: 28px;
        border-bottom: 1px solid #E8E8E8;

        img {
            display: inline-block;
            margin-bottom: 8px;
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #424242;
        }
    }

    // .content__note 
    &__note {
        padding-top: 28px;
        padding-bottom: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #424242;
    }

    // .content__call 
    &__call {
        display: inline-block;
        margin-bottom: 8px;
    }

    // .content__footer
    &__footer {
        padding-top: 16px;
    }

    // .content__hint 
    &__hint {
        display: inline-block;
        margin-bottom: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #999999;
    }

    // .content__unsubscribe 
    &__unsubscribe {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #005FAE;
    }

    // .content__contacts 
    &__contacts {
        padding-bottom: 20px;
        border-bottom: 1px solid #E8E8E8;
    }
}

.contacts {
    table-layout: fixed;

    // .contacts__wrap
    &__wrap {
        text-align: center;
    }

    // .contacts__item-wrap 
    &__item-wrap {
        display: inline-block;
        box-sizing: border-box;
        width: 49.5%;
        min-width: 270px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
    }

    // .contacts__item
    &__item {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        background: #F7F7F7;
        border-radius: 3px;
        text-align: center;

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #424242;
        }

        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #005FAE;
        }

        img {
            display: inline-block;
            margin-bottom: 8px;
        }
    }

    // .contacts__tel
    &__tel {
        text-decoration: none;
    }
}


.catalog {

    // .catalog__item   
    &__item {
        padding-bottom: 8px;
    }

    // .catalog__button
    &__button {
        padding-top: 8px;
        padding-bottom: 28px;
    }
}

.button {


    // .button__td
    &__td {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #005FAE;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        

        span {
            display: inline-block;
        }

        img {
            margin-left: 4px;
            margin-right: auto;
        }

    }

    // .button__link
    &__link {
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }
}



.card {
    border-radius: 3px;

    // .card__content
    &__content {
        a {
            text-decoration: none;
            color: #212121;
        }
    }

    // .card__img-wrap
    &__img-wrap {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 0;
    }

    // .card__img
    &__img {}

    // .card__space
    &__space {}

    // .card__text
    &__text {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 0;
        padding-right: 16px;
    }
}

.card-text {

    // .card-text__title
    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
        padding-bottom: 4px;
    }

    // .card-text__price
    &__price {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #212121;
    }

    // .card-text__no-price
    &__no-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #9da3a8;
    }
}

.benefit {

    // .benefit__title
    &__title {
        padding-bottom: 16px;
        font-weight: 700;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
        color: #212121;
    }

    // .benefit__item
    &__item {
        padding-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #424242;

        &:last-child {
            padding-bottom: 8px;
        }
    }
}