@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(//themes.googleusercontent.com/static/fonts/roboto/v9/mUdRVCMHGKUBOACHGTH1g-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(//themes.googleusercontent.com/static/fonts/roboto/v9/oHi30kwQWvpCWqAhzHcCSLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(//themes.googleusercontent.com/static/fonts/roboto/v9/isZ-wbCXNKAbnjo6_TwHTrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


.mm-body * {
	margin: 0 !important;
	padding: 0 !important;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	list-style-type: none !important;
}

.mm-body {
	width: 800px;
	height: 200px;
	overflow: hidden;
	position: relative;
	font-weight: 500;
	color: #000;
/*background: #FFF;*/
	}
.mm-body__inner--true {
	padding: 5px 10px 10px 10px !important;
}

.mm-body__fontsize--big.mm-body_imaged, .mm-body__fontsize--big.mm-body_imaged a {
	font-size: 16px !important;
}
.mm-body__fontsize--middle.mm-body_imaged, .mm-body__fontsize--middle.mm-body_imaged a {
	font-size: 14px !important;
}
.mm-body__fontsize--small.mm-body_imaged, .mm-body__fontsize--small.mm-body_imaged a {
	font-size: 13px !important;
}

.mm-body__fontsize--big, .mm-body__fontsize--big a {
	font-size: 18px !important;
}
.mm-body__fontsize--middle, .mm-body__fontsize--middle a {
	font-size: 15px !important;
}
.mm-body__fontsize--small, .mm-body__fontsize--small a {
	font-size: 13px !important;
}
.mm-body__fontface--roboto {
	font-family: 'Roboto' !important;
	font-weight: 300;
}
.mm-body__fontface--tahoma {
	font-family: 'Tahoma' !important;
}
.mm-body__fontface--arial {
	font-family: 'Arial' !important;
}
.mm-body__fontface--verdana {
	font-family: 'Verdana' !important;
}
.mm-body__fontface--trebuchet {
	font-family: 'Trebuchet MS' !important;
}
.mm-body__fontface--georgia {
	font-family: 'Georgia' !important;
}
.mm-body__border--true {
	border-style: solid;
	/*border-color: #000;*/
}

.mm-body__line {
	text-align: left !important;
	}
.mm-body__line--fixed {
	/*height: 25px;*/
	overflow: hidden;
	margin-bottom: 3px !important;
	}

.mm-body__line--fixed.mm-body__line--big{
	height: 25px;
	}
.mm-body__fontface--roboto .mm-body__line--fixed.mm-body__line--small {
	height: 21px;
}
.mm-body__fontface--tahoma .mm-body__line--fixed.mm-body__line--small {
	height: 19px;
}
.mm-body__fontface--arial .mm-body__line--fixed.mm-body__line--small {
	height: 19px;
}
.mm-body__fontface--verdana .mm-body__line--fixed.mm-body__line--small {
	height: 19px;
}
.mm-body__fontface--trebuchet .mm-body__line--fixed.mm-body__line--small {
	height: 22px;
}
.mm-body__fontface--georgia .mm-body__line--fixed.mm-body__line--small {
	height: 18px;
}
.mm-body__fontface--roboto .mm-body__line--fixed.mm-body__line--middle {
	height: 24px;
}
.mm-body__fontface--tahoma .mm-body__line--fixed.mm-body__line--middle {
	height: 21px;
}
.mm-body__fontface--arial .mm-body__line--fixed.mm-body__line--middle {
	height: 20px;
}
.mm-body__fontface--verdana .mm-body__line--fixed.mm-body__line--middle {
	height: 21px;
}
.mm-body__fontface--trebuchet .mm-body__line--fixed.mm-body__line--middle {
	height: 24px;
}
.mm-body__fontface--georgia .mm-body__line--fixed.mm-body__line--middle {
	height: 21px;
}

.mm-body__line--floating {
	/*height: auto !important;*/
	line-height: 21px;
	margin-bottom: 10px !important;
	float: left;
}
.mm-body__line--horizontal {
	float: left;
	width: 234px;
	height: 70px;
	overflow: hidden;
}
.mm-body__line--horizontal a {
	width: 224px;
}

.mm-body__line--big a img {
	width: 16px;
	height: 16px;
}
.mm-body__line--middle a img {
	width: 14px;
	height: 14px;
}
.mm-body__line--small a img {
	width: 12px;
	height: 12px;
}


.mm-body__line a {
	display: block;
	float: left;
/*color: #232323 !important;*/
	background-position: 0 50%;
	background-repeat: no-repeat;
	}
.mm-body__line a:link, .mm-body__line a:visited, .mm-body__line a:active  {
	text-decoration: none !important;
	}
.mm-body__line a:hover {
	text-decoration: underline !important;
	}
.mm-body__line a:hover span{
	text-decoration: underline !important;
	}
.mm-body__line a img {
	margin-right: 7px !important;
	}
	
	
.mm-logo {
	display: block;
	text-indent: -777em;
	margin-bottom: 10px !important;
}
.mm-logo--26 {
	background: url(./logo--26.png) no-repeat 0 0;
	width: 207px;
	height: 26px;
}
.mm-logo--16 {
	background: url(./logo--16.png) no-repeat 0 0;
	width: 127px;
	height: 16px;
}
.mm-logo--hidden {
	display: none;
}
/*added*/
.mm-body__line a:hover span{
    text-decoration: underline;
}

.mm-body__line--horizontal--img-no-big{
    width: 215px !important;
}

.mm-body__line--vertical {
    height: auto !important;
}

.mm-body__line--text-over-image a:hover span{
    opacity: 0.9 !important; 
    background: #000 !important;
}
.mm-body__line--middle.mm-body__line--text-over-image a img {
    width: auto; 
    height: auto;
}
.mm-body__line--text-over-image{
    width: auto; 
    height: auto;
}
.mm-body-responsive{
    width: auto !important;
    min-width: 50px;
    max-width: 240px;
}
.mm-body-responsive img{
    width: 100% !important;
}