//<FORM ()>====================================================================================================
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}

//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
	display: inline-flex;
	padding: 0px 0px;
	@media (min-width: 992px) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
//</BUTTONS>====================================================================================================

//<SELECT (sel+tab)>====================================================================================================
.select {
	position: relative;
	// .select__item
	&__item {
		position: relative;
	}
	// .select__title
	&__title {
		position: relative;
		color: #000;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		border-radius: 4px;
	}
	// .select__value
	&__value {
		display: flex;
		height: 2em;
		padding: 0px 15px;
		align-items: center;
		//justify-content: space-between;
		span {
			height: 1em;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			/* position: absolute;
			left: 0; */
		}
		&:before {
			content: "";
  		display: inline-block;
  		-webkit-transition: all .3s ease 0s;
  		-o-transition: all .3s ease 0s;
  		transition: all .3s ease 0s;
  		width: 14px;
  		height: 8px;
  		position: absolute;
  		right: 8px;
  		top: 12px;
  		border-top: 8px solid #dadada;
  		border-left: 7px solid #fff;
  		border-right: 7px solid #fff;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: calc(2em - 1px);
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		padding: 10px 0px 5px 0px;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 15px;
		margin: 0px 0px 0px 0px;
		@media (min-width: 992px) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: scale(-1);
			}
		}
		.select__options {
			display: block;
		}
	}
}
//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
	position: relative;
	display: inline-block;
	margin: 0px 30px 20px 0;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text{
			opacity: 1;
			&::after{
				transform: translate(0,-50%) scale(1);
			}
		}
	}
	// .checkbox__text
	&__text {
		display: flex;
		align-items: center;
		height: 20px;
		padding-left: 25px;
		position: relative;
		color: inherit;
		cursor: pointer;
		opacity: 0.6;
		transition: all $t ease;
		//line-height: 20px;
		span {
			display: inline-block;
			line-height: 1;
		}

		&::before, 
		&::after  {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
		}
		&::before {
			left: 0;
			transform: translate(0,-50%);
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			background: #aaa;
		}
		&::after {
			left: 2px;
			transform: translate(0,-50%) scale(0);
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			background: #333;
			transition: all $t ease;
			background: radial-gradient(#999, #333);
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
//</CHECK>====================================================================================================

//<RADIO (rdo+tab)>====================================================================================================
.radio {
	position: relative;
	display: block;
	margin: 0px 0px 20px 0px;
	// .radio__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .radio__text{
			opacity: 1;
			&::after{
				transform: translate(0,-50%) scale(1);
			}
		}
	}
	// .radio__text
	&__text {
		display: flex;
		align-items: center;
		height: 20px;
		padding-left: 25px;
		position: relative;
		color: inherit;
		cursor: pointer;
		opacity: 0.6;
		transition: all $t ease;

		span {
			display: inline-block;
			line-height: 1;
		}

		&::before, 
		&::after  {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			border-radius: 50%;
		}
		&::before {
			left: 0;
			transform: translate(0,-50%);
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			background: #aaa;
		}
		&::after {
			left: 2px;
			transform: translate(0,-50%) scale(0);
			flex: 0 0 16px;
			width: 16px;
			height: 16px;
			background: #333;
			transition: all $t ease;
			background: radial-gradient(#999, #333);
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.radio__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
//</RADIO>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
		&._error {
		}
	}
	// .options__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		left: 0;
		top: 0;
		visibility: hidden;
		&:checked + .options__text:before {
		}
		&:checked + .options__text:after {
			transform: scale(1);
		}
	}
	// .options__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			border-radius: 50%;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
		&:after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #77243a;
			position: absolute;
			left: 5px;
			top: 4px;
		}
	}
}
//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating {
  position: relative;
	display: flex;
	justify-content: flex-start;

	// .rating__items
	&__items {
	  display: flex;
	  flex-direction: row-reverse;
	  overflow: hidden;
	}
	// .rating__item
	&__item {
    width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0,0,0,0);

    &:checked ~ .rating__label,
    &:checked + .rating__label:hover,
    &:checked:hover ~ .rating__label {
      &::after {
        opacity: 1;
      }
    }
    
    &:hover ~ .rating__label {
      &::after {
        opacity: 0.65;
      }
    }

	}
	// .rating__label
	&__label {
    flex: 0 0 2em;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 2em;
      height: 2em;
      background: center / 2em no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='none'%3E%3Cpath d='M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z' fill='%23BDBDBD'/%3E%3C/svg%3E");
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background:  center / 2em no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='none'%3E%3Cpath d='M12,17.27L18.18,21l-1.64-7.03L22,9.24l-7.19-0.61L12,2L9.19,8.63L2,9.24l5.46,4.73L5.82,21L12,17.27z' fill='%23FFCA46'/%3E%3C/svg%3E");
      opacity: 0;
      transition: all $t ease;
    }
	} 
}
//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
/* .quantity {
	width: 88px;
	height: 40px;
	display: flex;
	border: 1px solid rgba(166, 166, 166, 0.45);
	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			color: #a6a6a6;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
	}
} */
//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================

//</RANGE>====================================================================================================
