//<ФУНКЦИИ>=============================================================================================================================
@function pxToRem($px) {
    @return ($px/$html-fsize)*1rem;
}

@function pxToEm($font-size, $var) {
    @return ($var/$font-size)*1em;
}

//Адаптивный отступ
@function adaptiv-value($pcWidth, $pcSize, $mobWidth, $mobSize) {
	$addSize: $pcSize - $mobSize;
	@return  calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$mobWidth + px}) / #{$pcWidth - $mobWidth}));
}

//<ФУНКЦИИ>

//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: block;
		src: 	url("../fonts/#{$file_name}.woff2") format("woff2"), 
					url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//Адаптивный шрифт
@mixin adaptiv-font($pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;
	@if $maxSize==1 {
		//Только если меньше контейнера
		font-size: $pcSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $maxSize==2 {
		//Только если больше контейнера
		font-size: $pcSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
	}
}

//Адаптивный отступ
@mixin adaptiv-value($indentType, $pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;
	@if $maxSize==1 {
		//Только если меньше контейнера
		#{$indentType}: $pcSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $maxSize==2 {
		//Только если больше контейнера
		#{$indentType}: $pcSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else {
		//Всегда
		#{$indentType}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
	}
}

@mixin visually-hidden {
  position   : absolute;
  width      : 1px;
  height     : 1px;
  margin     : -1px;
  border     : 0;
  padding    : 0;
  white-space: nowrap;
  clip-path  : inset(100%);
  clip       : rect(0 0 0 0);
  overflow   : hidden;
}