//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Consolas";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$md0: 1365;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer;
$md2: 991.98;
$md2-1: 810;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;
$md6: 364.98;
$md7: 320;

$t: .5s;
$padding-left-right: 15px;
$html-fsize: 16;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	//overflow: hidden;
	//font-family: $fontFamily;
	color: transparent; // #333;
	background: #777;
	//min-height: 200%;
	//height: 100vh;
	

	&._lock {
		overflow: hidden;
	}
}

html._lock  {
	overflow: hidden;
}

picture {
    line-height: 0;
    font-size: 0;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	//height: 100%;
	//overflow-x: hidden;
	//display: flex;
	//flex-direction: column;
	/* &._loaded {

	} */
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
	
	@media (max-width: $md4+px) {
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "tippy";
@import "datepicker-new";
@import "sumoselect";
@import "nouislider";
//@import "pagging";
//@import "popup";
@import "simplebar";
@import "header";
@import "filters";
//@import "main";
@import "footer";
//@import "home";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	//overflow: hidden;
	//padding: 110px 0 35px;
	padding: 60px 0 35px;
	height: 100vh;
	box-sizing: border-box;
	//transition: all $t/2 linear;
	//font-family: $fontFamily;
	font-size: 30px;
	font-weight: bold;

	// .page__inner
	&__inner {
		//height: calc(100vh - 95px);
		height: 100%;
	}

/* 	@media (min-width: $md4 + px) {
		//padding: 60px 0 35px;
		//margin: 60px 0 35px;
		&__inner {
			//height: calc(100vh - 145px);
		}
	} */
}
//===================================================================================================================================
.news {
	width: 100%;
	padding: 0.7em 0;
	// .news__line
	&__line {
		line-height: 1.2em; 
		display: flex;
		border-bottom: 1px solid transparent;
		padding: 0.75em 0;
		
		@media (min-width: $md3 + px) {
			line-height: 1.8em; 
			align-items: center;
			padding: 0;
			border-bottom: 0;
		}
		&_active{
			//transition: all $t ease;
		}
	}
	// .news__icon
	&__icon {
		flex: 0 0 1.3em;
		width: 1.3em;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;

		span{
			font-size: 0.85em;
		}

		@media (min-width: $md4 + px) {
			flex: 0 0 1.3em;
			width: 1.3em;
			text-align: center;
		}
	}
	// .news__date
	&__date {
		display: none;
		overflow: hidden;
		white-space: nowrap;
		user-select: none;
		border-radius: 3px;
		cursor: default;
		
		@media (min-width: $md4 + px) {
			display: block;	
			flex: 0 0 2.9em; //calc(3em + #{$padding-left-right});
			width: 2.9em; //calc(3em + #{$padding-left-right});
			margin-left: $padding-left-right;
			text-align: center;
		}
	}
	// .news__link
	&__link {
		flex: 1 1 auto;
		padding-right: adaptiv-value($md3,10,320,3);
		overflow: hidden;
		display: flex;
		align-items: center;

		@media (min-width: $md3 + px) {
			padding-right: $padding-left-right;

			a {
				white-space: nowrap;
			}
		}
		
		a {	
			display: block;
			max-width: 100%;
			color: inherit;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

//  ARTICLE ===============================================================================================================================================
$side-padding: 5px;
.article {
	display: flex;
	
	// .article__content
	&__content {
		//overflow-wrap: break-word;
		//word-wrap: break-word;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		padding: 5px adaptiv-value($md3,15,320,5);
		min-height: calc(100vh - 145px);
		
		@media (min-width: $md4 + px) {
			min-height: calc(100vh - 95px);
		}

		@media (min-width: $md3 + px) {
			padding: 5px 15px;
		}
		img,
		a img {
			display: block;
    	max-width: 100%;
    	height: auto;
		}
		img {
			margin: 1em auto;
		}
	}
	// .article__title
	&__title {
		padding: .65em $side-padding;
		font-weight: 700;
		line-height: 1.2;
		//border-bottom: 2px solid #333;
	}
	// .article__text
	&__text {
		//width: 500px;
		padding: 1em $side-padding 1em;
		line-height: 1.3;
		font-weight: 400;
		border-bottom: 1px solid #333;
		p {
			margin-bottom: 1em;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			//color: inherit;
			display: inline-block;
			max-width: calc(100vw - 40px);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			//overflow-wrap: break-word;
			vertical-align: bottom;

			@media (min-width: $md2 + px) {
				max-width: calc(70vw - 40px);
			}
		}
	}
	// .article__text-link
	&__text-link {
		display: inline-block;
		width: 300px;
		//max-width: 70%;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: bottom;
	}
	// .article__info
	&__info {
		font-weight: 400;
	}
	// .article__banner
	&__banner {
		font-weight: 700;
		
		@media (min-width: $md2 + px) {
			flex: 0 0 25%;
			max-width: 375px;
			min-width: 280px;	
		}
	}
}
.info-article {
	padding: /* .3em */ 0 $side-padding 1em $side-padding;

	font-weight: 400;
	// .info-article__box
	&__box {
	}
	// .info-article__edition
	&__edition {
		margin-bottom: 1.5em;

		
		@media (min-width: $md4 + px) {
			margin-bottom: 0.5em;
		}
		@media (min-width: $md2 + px) {
			margin-bottom: 0em;
		}
	}
	// .info-article__row
	&__row {
		display: flex;
		margin-bottom: 0.4em;
		line-height: 1.4em;

		&:last-child {
			margin-bottom: 0;
		}
		@media (min-width: $md2 + px) {
			line-height: 1.0em;
		}
	}
	// .info-article__title
	&__title {
		flex: 0 0 8em;
	}
	// .info-article__value
	&__value {
		flex: 1 1 auto;
	}
	// .info-article__link
	&__link {
		display: inline-flex;
		align-items: center;
		margin-bottom: 0.5em;
		margin-right: 0.5em;
		font-weight: 400;
		color: #fff;
		background: #006bc7;
		padding: .12em .6em .12em;
		border-radius: .75em;

		/*
		@media (min-width: $md2 + px) {
			border: 0px;
			text-align: left;
			margin: 0;
			padding: 0;

			&:hover {
				text-decoration: underline;
			}
		} */
	}
	// .info-article__comment
	&__comment {
		margin-top: 1em;
		padding: 0.7em;
		display: block;
		text-align: center;
		border: 1px solid #000;
		border-radius: 3px;
		font-weight: 700;
		@media (min-width: $md2 + px) {
			border: 0px;
			text-align: left;
			padding: 0;
		}
	}
}
.edition-info {
	display: flex;
	justify-content: flex-end;
	line-height: 1.4em;
	flex-wrap: wrap;

	@media (min-width: $md4 + px) {
		flex-wrap: nowrap;
	}

	// .edition-info__date
	&__date {
		//flex: 1 1 auto;
	}
	// .edition-info__date-title
	&__date-title {
	}
	// .edition-info__date-data
	&__date-data {
	}
	// .edition-info__author
	&__author {
		margin-left: 2em;
	}
	// .edition-info__author-title
	&__author-title {
	}
	// .edition-info__author-name
	&__author-name {
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}
.banner {
	
	@media (min-width: $md2 + px) {
		padding: 15px 15px 15px 0px;
	}
	// .banner__content
	&__content {
		font-weight: 700;
		background:  transparent; //#333;
		opacity: 0.1;
		//border-top: 1px solid #fff;

		@media (min-width: $md2 + px) {
			display: flex;
			height: 100%;
			width: 100%;
			border: 0;
			border-left: 1px solid #fff;
		}
	}
	// .banner__content-text
	&__content-text {
		display: flex;
		justify-content: center;
		color: transparent; // #000;
		text-transform: uppercase;
		word-wrap: normal;
		
		
		p {
			font-size: 0.6em;
			padding: .5em .25em;
			margin: 0;
		}

		span {
			padding: 0;
		}

		@media (min-width: $md3 + px) {
			p {
				font-size: 1em;
				padding: .5em;
			}
		}

		@media (min-width: $md2 + px) {
			display: block;
			margin: auto;
			width: 1em;
			p {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 0.5em 0;			
			}
			span {
				display: block;
			}
		}
	}
}


//</ОСНОВНОЙ БЛОК>====================================================================================================

