.news-card {
  border: 2px solid #bbb;
  box-shadow: 0 0 5px 3px #ccc;
  border-radius: 0 0 .25rem.25rem;
  overflow: hidden;
}
.card-footer {
  border-radius: 0;
}

@media screen and (max-width: 1024px) {

  .td_value {
    margin: 0 auto;
  }
}