.alphabet {

	// .alphabet__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 22px;

		span {
			display: inline-block;
			font-size: 22px;
			color: $icon-color;
			transition: all $t ease;
		}
		&:hover {
			span {
				transform: scale(1.15);
				color: #fff;
			}
		}

		@media (min-width: $md2-1 + px) {
			opacity: 0;
			visibility: hidden;

			&:hover {
				span {
					transform: scale(1.3) translate(0, 1px);
					color: #fff;
				}
			}
		}
	}
	// .alphabet__body
	&__body {
		position: absolute;
		right: 0px;
		top: 111px;
		padding: 10px;
		background: $header-bg-color;
		border-radius: 6px;
		box-shadow: 0 2px 8px rgb(0 0 0 / 45%);
		opacity: 0;
		visibility: hidden;
		transform: translate(0, -10px);
		transition: transform $t linear, opacity $t * 0.8 linear;

		@media (min-width: $md2-1 + px) {
			right: 0;
			top: 45px;
		}
	}

	&._open {
		.alphabet__body {
			transform: translate(0, 0);
			opacity: 1;
			visibility: visible;
		}
	}
	// .alphabet__list
	&__list {
		display: inline-flex;
		flex-wrap: wrap;
		width: 240px;

		@media (min-width: $md6 + px) {
			width: 300px;
		}

		@media (min-width: $md4 + px) {
			width: 360px;
		}
	}
	// .alphabet__item
	&__item {
		margin: 0 3px;
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 54px;
			height: 30px;
			font-size: 18px;
			border-radius: 3px;
			color: $style-3-color;
			transition: all 0.25s ease-in-out; // background-color

			&:hover {
				background-color: $style-1-color;
			}
		}
	}

	&._show {
		.alphabet__icon {
			opacity: 1;
			visibility: visible;
		}
	}
}
