.apps-box {
	font-family: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;

	// .apps-box__item
	&__item {
		display: flex;
		flex-direction: column;
		width: 20%;
		max-width: 78px;
		padding: 0 10px;
		margin-bottom: 32px;

		@media (min-width: 392px ) {
			width: calc(100%/6);
		}
		@media (min-width: 470px ) {
			width: calc(100%/7);
		}
		@media (min-width: 548px ) {
			width: calc(100%/8);
		}
		@media (min-width: 626px ) {
			width: calc(100%/9);
		}
		@media (min-width: 704px ) {
			width: calc(100%/10);
		}
	}
	// .apps-box__icon
	&__icon {
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		margin-bottom: 4px; 

		img,
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	// .apps-box__title
	&__title {
		font-size: 14px;
		line-height: 14px;
		color: #1a5d88;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		white-space: nowrap;
	}
}
