.arrow-to-top {
    display: none;

    @media (min-width: 920px) {
        display: flex;
        position: fixed;
        z-index: -1;
        bottom: 50px;
        left: calc((100vw - 768px)/4 - 25px);
        background: none;
        border: 0;
        transition: all .4s ease;

        &--visible {
            z-index: 99;
            opacity: 1;
            visibility: visible;
        }

        svg {
            transition: all .4s ease;
            fill-opacity: 0.2;
        }

        &:hover {
            svg {
                fill-opacity: 0.4;
            }
        }
    }

    @media (min-width: 1080px) {
        left: 50px;
    }
}

// Если на странице есть правая колонка, то body добавлется класс right-panel 
.right-panel .arrow-to-top {
    @media (min-width: 1080px) {
        left: calc((100vw - 768px)/4 - 25px);
    }

    @media (min-width: 1220px) {
        left: calc((100vw - 768px - 320px)/4 - 25px);
    }
    
    @media (min-width: 1400px) { 
       left: 50px;
    }
}