.comments {
    padding: 12px 15px;
    color: #312c26;
    background: #ffffff;

    &--lock {
        padding-bottom: 40px;
    }

    // .comments__header
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    // .comments__title
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #808080;
    }

    // .comments__filter
    &__filter {
        font-size: 14px;

        &._open {
            .comments__filter-btn svg {
                transform: scaleY(-1);
            }
        }
    }

    // .comments__filter-btn
    &__filter-btn {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $blue-btn;

        svg {
            fill: $blue-btn;
            transition: all 0.3s;
        }
    }

    // .comments__filter-item
    &__filter-item {
        position: relative;
        padding-left: 30px;

        &--active {
            pointer-events: none;

            &::before {
                content: "";
                position: absolute;
                top: 9px;
                left: 6px;
                width: 20px;
                height: 20px;
                background: no-repeat,
                    center / 100% url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7.49993 13.5003L3.99993 10.0003L2.83327 11.167L7.49993 15.8337L17.4999 5.83366L16.3333 4.66699L7.49993 13.5003Z' fill='%23808080'/%3E%3C/svg%3E");
            }
        }
    }

    // .comments__list
    &__list {}

    // .comments__item
    &__item {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    // .comments__content
    &__content {

        &--author,
        &--new,
        &--self {
            .comments__text {
                padding: 12px;
                border-radius: 4px;
            }
        }

        &--author {
            .comments__text {
                border-left: 2px solid #fdae02;
                background: rgba(253, 174, 2, 0.1);
            }
        }

        &--new {
            .comments__text {
                border-left: 2px solid #69913b;
                background: rgba(105, 145, 59, 0.1);
            }
        }

        // должен перекрыват comments__content--new поэтому идет последним
        &--self {
            .comments__text {
                border-left: 2px solid #479cd3;
                background: rgba(205, 205, 205, 18%);
            }
        }
    }

    // .comments__pinned-label
    &__pinned-label {
        display: flex;
        align-items: end;
        margin-bottom: 8px;

        svg {
            margin: 0 4px 2px 0;
            fill: #808080;
        }

        span {
            padding-top: 2px;
            color: #808080;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
        }
    }

    // .comments__person
    &__person {
        margin-bottom: 8px;
    }

    // .comments__text
    &__text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;

        p {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        img {
            max-width: 100%;
        }

        a {
            word-break: break-word;

            &,
            &:visited,
            &:active {
                color: #479cd3;
            }
        }

        blockquote {
            padding: 12px;
            border-radius: 4px;
            border-left: 2px solid #595959;
            background: rgba(121, 121, 121, 0.10);
            margin-bottom: 8px;

            &::before,
            &::after {
                font-size: 16px;
                line-height: 20px;
            }
            &::before {
                content: "\201e ";
            }
            &::after {
                content: " \201f";
            }
        }

        @media (min-width: $md3 + px) {
            font-size: 16px;
        }
    }

    // .comments__actions
    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__reply,
    &__like,
    &__dislike {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background: none;
        border: 0;
        cursor: pointer;
        color: #808080;

        svg {
            fill: transparent;
            transition: all .4s;
        }
    }

    // .comments__reply
    &__reply {
        margin-right: 24px;

        &:hover {
            svg {
                fill: #808080;
            }
        }
    }

    // .comments__like
    &__like {

        &:hover,
        &--marked {
            color: transparent;

            svg {
                fill: #008000;
                stroke: #fff;
            }
        }
    }

    // .comments__fan
    &__fan {
        font-size: 14px;
        line-height: 24px;
        color: #808080;
        padding: 0 10px;
    }

    // .comments__dislike
    &__dislike {

        &:hover,
        &--marked {
            color: transparent;

            svg {
                fill: #000000;
                stroke: #fff;
            }
        }
    }

    // .comments__answers
    &__answers {
        padding-left: 15px;
        border-left: 1px solid #aaaaaa;

        .comments__item {
            margin-top: 16px;
        }
    }

    // .comments__footer
    &__footer {
        margin-top: 42px;
        display: flex;
        flex-wrap: wrap;
        padding: 9px;
        border: 1px solid #808080;
        border-radius: 8px;
        background: #f9f9f9;
        box-shadow: inset 0px 0px 6px rgba(117, 117, 117, 1);
        transition: all 0.3s ease;

        &:hover {
            background: #fff;
            border-color: #414141;
            box-shadow: inset 0px 0px 6px rgba(117, 117, 117, 1);
        }

        &._focus {
            border-color: #414141;
            background: #fff;
            box-shadow: none;
        }

        &._loading {
            position: relative;
            pointer-events: none;
            overflow: visible !important;

            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 5;
                top: -2px;
                right: -2px;
                bottom: -2px;
                left: -2px;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.7) no-repeat center/42px url("/images/preloader.gif");
            }
        }
    }

    // .comments__textarea
    &__textarea {
        width: 100%;
        height: 80px;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        color: inherit;
        resize: none;
        background: transparent;

        &::placeholder {
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            transition: color 0.3s ease;
        }

        &:required {

            // not empty
            &~button {
                pointer-events: auto;
                opacity: 1;
                cursor: pointer;
            }
        }

        &:invalid {
            &~button {
                pointer-events: none;
                opacity: 0.7;
                cursor: default;
            }
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    // .comments__add-img
    &__add-img {
        cursor: pointer;
        justify-self: start;
        display: block;
        width: 38px;
        height: 38px;
        border-radius: 8px;
        background: no-repeat center / 22px url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M22 11C22 10.3925 21.5075 9.9 20.9 9.9C20.2925 9.9 19.8 10.3925 19.8 11H22ZM11 2.2C11.6075 2.2 12.1 1.70751 12.1 1.1C12.1 0.492487 11.6075 0 11 0V2.2ZM19.25 19.8H2.75V22H19.25V19.8ZM2.2 19.25V2.75H0V19.25H2.2ZM19.8 11V19.25H22V11H19.8ZM2.75 2.2H11V0H2.75V2.2ZM2.75 19.8C2.44625 19.8 2.2 19.5538 2.2 19.25H0C0 20.7688 1.23121 22 2.75 22V19.8ZM19.25 22C20.7688 22 22 20.7688 22 19.25H19.8C19.8 19.5538 19.5538 19.8 19.25 19.8V22ZM2.2 2.75C2.2 2.44625 2.44624 2.2 2.75 2.2V0C1.23122 0 0 1.23121 0 2.75H2.2Z' fill='%23808080'/%3E%3Cpath d='M1.1 17.05L6.9812 11.6589C7.39139 11.2829 8.01784 11.2724 8.44035 11.6346L15.4 17.6' stroke='%23808080' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.2 14.85L15.8254 12.2246C16.2125 11.8376 16.8253 11.794 17.2632 12.1225L20.9 14.85' stroke='%23808080' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.3 4.40002H20.9' stroke='%23808080' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.6 1.09998V7.69998' stroke='%23808080' stroke-width='2.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    // .comments__add-file
    &__add-file {}

    // .comments__submit-btn
    &__submit-btn {
        display: inline-flex;
        align-items: center;
        justify-self: flex-end;
        flex: 0 0 auto;
        margin-left: auto;
        padding: 10px 16px;
        background: $blue-btn;
        box-shadow: 0px 4px 4px rgba(117, 117, 117, 0.12);
        border-radius: 8px;
        border: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1.5px;
        transition: all 0.3s ease;
    }
}