.custom-table {
  border-collapse: collapse;
  line-height: 12px;
  color: #666666;

  &__thead,
  &__tbody {
    text-align: center;
    white-space: nowrap;
  }

  // .custom-table__thead
  &__thead {
    font-weight: 500;
    font-size: 10px; 
    
    tr th {
      padding: 10px 14px;
    }
  }
  // .custom-table__tbody
  &__tbody {
    tr td {
      padding: 8px 32px;
      border-top: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      font-size: 12px;

      &:last-child {
        border-right: 0;
      }
    }
  }
}
