.donate-btn {
    display: flex;
    margin: 10px 0 10px auto ;
    padding: 7px 14px;
    background: #ffdf39;
    box-shadow: 0px 2px 4px rgba(255, 223, 57, 0.25);
    border-radius: 6px;
    border: 0;
    color: #000;
    line-height: 20px;
    font-size: 14px;

    svg {
        margin-left: 5px;
    }

    &--old {
       margin: 23px 0 10px auto;
    } 
}
