.footer-mob {
  font-family: Roboto, Tahoma, "Open Sans", Verdana, sans-serif;
  margin-top: 30px;

  &--no-banners {
    margin-top: 0;
    .footer-mob__banners {
      display: none;
    }
  }

  &--news,
  &--mt-none {
    margin-top: 0;
  }

  // .footer-mob__content
  &__content {
  }
  // .footer-mob__banners
  &__banners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 15px;

    @media (min-width: $md3 + px) {
      flex-direction: row;
    }
    @media (min-width: $md2 + px) {
      justify-content: space-evenly;
    }
  }
  // .footer-mob__banner
  &__banner {
    margin-bottom: 15px;
    &:last-child {
      margin: 0;
    }
    a {
      word-break: keep-all;
    }
    @media (min-width: $md3 + px) {
      margin: 0;
    }
  }
  &__banner-best,
  &__banner-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 290px;
    min-height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  // .footer-mob__banner-best
  &__banner-best {
    background: #459fcc;

    svg {
      margin-right: 7px;
      width: 1em;
      height: 1em;
      fill: #fff;
    }
  }
  // .footer-mob__banner-choice
  &__banner-choice {
    background: #d14029;
  }
  // .footer-mob__buttons
  &__buttons {
    padding: 30px 15px;
    background: #3f3f3f;
  }
  // .footer-mob__app-title
  &__app-title {
    width: 100%;
    margin-bottom: 24px;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  // .footer-mob__app-box
  &__app-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (min-width: $md4 + px) {
      justify-content: space-evenly;
    }
  }
  // .footer-mob__app-btn
  &__app-btn {
    width: 135px;
    border-radius: 5px;
    overflow: hidden;
  }

  // .footer-mob__app-img {
  &__app-img {
    width: 100%;
  }

  // .footer-mob__social-box
  &__social-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px;
    padding: 0 20px;

    @media (min-width: $md2 + px) {
      margin: 14px 0 30px;
    }
  }
  // .footer-mob__social-item
  &__social-item {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }

    @media (min-width: $md6 + px) {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  // .footer-mob__link-box
  &__link-box {
    margin: 14px 0;
    padding-left: 20px;

    @media (min-width: $md4 + px) {
      display: flex;
    }
  }
  // .footer-mob__links-item
  &__links-item {
    margin-bottom: 30px;

    @media (min-width: $md4 + px) {
      margin-right: 40px;
      margin-bottom: 0;
    }
  }
  // .footer-mob__link
  &__link {
    font-size: 14px;
    line-height: 135%;
    color: #dadada;
  }
  // .footer-mob__copy
  &__copy {
    padding-top: 30px;
  }
  // .footer-mob__copy-txt
  &__copy-txt {
    text-align: right;
    font-size: 12px;
    line-height: 135%;
    color: #8c8c8b;
  }
  // .footer-mob__bottom
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0px;
  }
  // .footer-mob__moex
  &__moex {
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: auto;
    width: 100%;

    img {
      width: 32px;
      height: 32px;
    }

    @media (min-width: $md3 + px) {
      width: auto;
    }
  }
  // .footer-mob__moex-text
  &__moex-text {
    margin-left: 0.5em;

    a {
      color: #4eadff;
    }
  }
  // .footer-mob__counter
  &__counter {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 20px;

    @media (min-width: $md3 + px) {
      margin: 0;
    }
  }
  // .footer-mob__counter-link
  &__counter-link {
  }
}

//====================================================================================================
