.news-feed {
    margin-top: 10px;
    background: #f5f5f5;
    border-radius: 8px 8px 0 0;
    color: #383838;

    @media (min-width: $md3 + px) {
        box-shadow: 0px 4px 11px 4px rgb(117 117 117 / 12%);
    }

    // .news-feed__header
    &__header {
    }
    // .news-feed__section
    &__section {
        padding: 0 8px;
        background: #ffffff;
        box-shadow: 0px 1px 2px rgba(117, 117, 117, 0.22);
        border-radius: 8px 8px 0px 0px;

        @media (min-width: $md3 + px) {
        }
    }
    // .news-feed__filter
    &__filter {
        margin: 10px 0;
    }
    // .news-feed__list
    &__list {
        list-style: none;
        margin-bottom: -10px;

        &--empty {
            display: flex;
            //align-items: center;
            justify-content: center;
            min-height: calc(100vh - 192px);
            margin: 0;
            padding: 12px;
        }
    }
    // .news-feed__item
    &__item {
        margin: 10px 5px;
    }
    // .news-feed__marker-item
    &__mark-item {
        margin: 10px 0;
        text-align: center;
        letter-spacing: 0.0125em;
        font-size: 12px;
        line-height: 14px;
        color: #808080;
    }

    // .news-feed__empty
    &__empty {
        margin: auto 0 auto 0;
        color: #312c26;

        @media (orientation: portrait) {
            margin: 10vh 0 auto 0;
        }
    }
    &__empty-title,
    &__empty-text {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.0125em; 
    }
    // .news-feed__empty-title
    &__empty-title {
        font-weight: 700;
    }
    // .news-feed__empty-text
    &__empty-text {
    }
}

.fn-tag {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 11px;
    background: #e2e2e2;
    border: 1px solid #808080;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #808080;

    &--active {
        background: #ffffff;
        color: #383838;

        &::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            flex: 0 0 10px;
            margin-left: 10px;
            background: no-repeat center / 100%
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M6.17387 4.99929L9.75374 1.42723C9.91051 1.27044 9.99858 1.05779 9.99858 0.836054C9.99858 0.614319 9.91051 0.401665 9.75374 0.244875C9.59697 0.0880841 9.38435 0 9.16264 0C8.94094 0 8.72832 0.0880841 8.57155 0.244875L5 3.82526L1.42845 0.244875C1.27168 0.0880841 1.05906 -1.65206e-09 0.837356 0C0.615652 1.65206e-09 0.403029 0.0880841 0.246261 0.244875C0.0894924 0.401665 0.0014208 0.614319 0.00142079 0.836054C0.00142079 1.05779 0.0894924 1.27044 0.246261 1.42723L3.82613 4.99929L0.246261 8.57135C0.168229 8.64875 0.106294 8.74084 0.0640274 8.84231C0.021761 8.94377 0 9.05261 0 9.16253C0 9.27244 0.021761 9.38128 0.0640274 9.48274C0.106294 9.58421 0.168229 9.6763 0.246261 9.7537C0.323655 9.83175 0.415733 9.89369 0.517185 9.93597C0.618636 9.97824 0.727452 10 0.837356 10C0.94726 10 1.05608 9.97824 1.15753 9.93597C1.25898 9.89369 1.35106 9.83175 1.42845 9.7537L5 6.17332L8.57155 9.7537C8.64894 9.83175 8.74102 9.89369 8.84247 9.93597C8.94392 9.97824 9.05274 10 9.16264 10C9.27255 10 9.38136 9.97824 9.48282 9.93597C9.58427 9.89369 9.67634 9.83175 9.75374 9.7537C9.83177 9.6763 9.89371 9.58421 9.93597 9.48274C9.97824 9.38128 10 9.27244 10 9.16253C10 9.05261 9.97824 8.94377 9.93597 8.84231C9.89371 8.74084 9.83177 8.64875 9.75374 8.57135L6.17387 4.99929Z' fill='%23B5B5B5' /%3E%3C/svg%3E");
        }
    }

    &--company {
        border-color: #2987C5 !important;
        background: #2987C5 !important;
        color: #fff;

        &::after {
            background: no-repeat center / 100%
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M6.17387 4.99929L9.75374 1.42723C9.91051 1.27044 9.99858 1.05779 9.99858 0.836054C9.99858 0.614319 9.91051 0.401665 9.75374 0.244875C9.59697 0.0880841 9.38435 0 9.16264 0C8.94094 0 8.72832 0.0880841 8.57155 0.244875L5 3.82526L1.42845 0.244875C1.27168 0.0880841 1.05906 -1.65206e-09 0.837356 0C0.615652 1.65206e-09 0.403029 0.0880841 0.246261 0.244875C0.0894924 0.401665 0.0014208 0.614319 0.00142079 0.836054C0.00142079 1.05779 0.0894924 1.27044 0.246261 1.42723L3.82613 4.99929L0.246261 8.57135C0.168229 8.64875 0.106294 8.74084 0.0640274 8.84231C0.021761 8.94377 0 9.05261 0 9.16253C0 9.27244 0.021761 9.38128 0.0640274 9.48274C0.106294 9.58421 0.168229 9.6763 0.246261 9.7537C0.323655 9.83175 0.415733 9.89369 0.517185 9.93597C0.618636 9.97824 0.727452 10 0.837356 10C0.94726 10 1.05608 9.97824 1.15753 9.93597C1.25898 9.89369 1.35106 9.83175 1.42845 9.7537L5 6.17332L8.57155 9.7537C8.64894 9.83175 8.74102 9.89369 8.84247 9.93597C8.94392 9.97824 9.05274 10 9.16264 10C9.27255 10 9.38136 9.97824 9.48282 9.93597C9.58427 9.89369 9.67634 9.83175 9.75374 9.7537C9.83177 9.6763 9.89371 9.58421 9.93597 9.48274C9.97824 9.38128 10 9.27244 10 9.16253C10 9.05261 9.97824 8.94377 9.93597 8.84231C9.89371 8.74084 9.83177 8.64875 9.75374 8.57135L6.17387 4.99929Z' fill='%23ffffff' /%3E%3C/svg%3E") !important;
        }
    }

    @media (min-width: $md3 + px) {
        padding: 4px 13px;
    }
}

.news-card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(117, 117, 117, 0.22);
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
        // background: #fcfcfc;
        border-color: #a5a5a5;
    }

    &:visited {
        .news-card__title {
            color: #939393;

            svg {
                fill: #939393;
            }
        }
    }

    /* @media (min-width: 600px) {
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    } */

    // .news-card__date
    &__date {
        width: 140px;
        flex: 0 0 140px;
        order: 3;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        color: #808080;

        &--ec {
            line-height: 18px;
            text-align: left;
            order: 0;
        }

        /* @media (min-width: 600px) {
            width: 40px;
            flex: 0 0 40px;
            order: 0;
            margin-right: 10px;
            text-align: left;
        } */
    }
    // .news-card__time
    &__time {
        font-size: inherit;
        line-height: inherit;

        &--green {
            color: #008243;
        }
    }
    // .news-card__flag
    &__flag {
        width: 18px;
        height: 18px;
    }
    // .news-card__title
    &__title {
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 60px;
        word-break: break-word;
        margin: 0 0 6px;

        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.0125em;
        text-transform: none;
        color: #383838;

        /* @media (min-width: 600px) {
            width: auto;
            margin: 0 20px 0 0;
        } */

        svg {
            margin-bottom: -1px;
            fill: #383838;
        }

        &--ec {
            margin: 10px 0 0;
        }
    }

    &__author,
    &__info {
        position: relative;
        z-index: 3;
    }

    // .news-card__author
    &__author {
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #808080;

        svg {
            margin-left: 4px;
        }

        span {
            flex: 0 0 auto;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &:hover {
            color: #2987c5;
            font-weight: 600;
        }
    }
    // .news-card__info
    &__info {
    }
}
