.qn-menu {
	font-family: Tahoma, "Open Sans", Verdana, Roboto, sans-serif;

	// .qn-menu__tabs-wrap
	&__tabs-wrap {
		position: relative;
		padding: 13px 0;
		background: $style-1-main-bg;

		@media (min-width: $md3 + px) {
			padding: 15px 0;
		}
	}
	// .qn-menu__tabs-control
	&__tabs-control {
		cursor: pointer;
		display: inline-flex;
		align-items: flex-start;
		font-size: 16px;
		line-height: 22px;
		color: #dadada;
		font-weight: 700;

		&._active {
			.qn-menu__tabs-control_arrow {
				transform: scaleY(-1);
			}
		}

		@media (min-width: $md3 + px) {
			display: none;
		}
	}
	// .qn-menu__tabs-control_arrow
	&__tabs-control_arrow {
		margin-left: 4px;
		width: 24px;
		height: 24px;
		fill: $icon-color;
		transition: all $t ease;
	}
	// .qn-menu__mob-tabs
	&__mob-tabs {
		list-style: none;
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		display: inline-flex;

		li {
			display: inline-flex;
		}
		@media (min-width: $md3 + px) {
			display: none;
		}
	}
	// .qn-menu__tabs
	&__tabs {
		display: none;
		position: absolute;
		top: 50px;
		z-index: 7;
		width: 100%;
		padding-bottom: 25px;
		background: $style-1-main-bg;

		@media (min-width: $md3 + px) {
			position: static;
			display: flex;
			align-items: center;
			padding-bottom: 0;
		}
	}
	// .qn-menu__tab
	&__tab {
		display: flex;
		padding: 12px 0;

		&--pc {
			display: none;
		}

		&._active {
			display: none;
		}

		&:last-child {
			.qn-menu__tab-link {
				margin-right: 0;
			}
		}

		@media (min-width: $md3 + px) {
			display: inline-flex;
			padding: 0;

			&--pc {
				display: inline-block;
			}

			&._active {
				display: inline-block;
			}
		}

		&._active a {
			color: #ffffff;
			font-weight: 700;

			svg {
				background: #ffffff;
				border-color: #ffffff;
				fill: #4f91cd;
			}
		}
	}
	// .qn-menu__tab-link
	&__tab-link {
		display: inline-flex;
		margin-right: 24px;
		white-space: nowrap;
		font-size: 16px;
		line-height: 20px;
		text-decoration: none;
		color: #dadada;

		svg {
			width: 24px;
			height: 24px;
			fill: #dadada;
		}

		&:hover {
			color: #ffffff;

			svg {
				border-color: #ffffff;
				fill: #ffffff;
			}
		}

		&:active {
			color: #ffffff;

			svg {
				border-color: #ffffff;
				fill: #4f91cd;
			}
		}

		&:disabled {
			color: #585858;
			pointer-events: none;
			svg {
				border-color: #585858;
				fill: #585858;
			}
		}

		@media (min-width: $md3 + px) {
			margin-right: adaptiv-value($md2, 85, $md3, 50);

			svg {
				width: 28px;
				height: 28px;
			}
		}

		@media (min-width: $md2 + px) {
			margin-right: 85px;
		}
	}
	// .qn-menu__selectors
	&__selectors {
		max-width: 100%;

		.selector-links__prev::before {
			background: linear-gradient(to right, $style-2-main-bg 0%, $style-2-main-bg 40%, transparent 100%);
		}
		.selector-links__next::before {
			background: linear-gradient(to left, $style-2-main-bg 0%, $style-2-main-bg 40%, transparent 100%);
		}
	}
	// .qn-menu__box
	&__box {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	// .qn-menu__title
	&__title {
		margin: 9px 40px 9px 0px;
		padding: 0px 0px 0px 0px;
		font-size: 20px;
		line-height: 22px;
		font-weight: 700;
		white-space: nowrap;

		&--wrap {
			white-space: normal;
		}

		@media (min-width: $md4 + px) {
			font-size: 24px;
			line-height: 30px;
		}
	}
	// qn-menu__actions-wrap
	&__actions-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex: 1 1 auto;
		max-width: 100%;
		flex-wrap: wrap;

		@media (min-width: $md4 + px) {
			flex-wrap: nowrap;
		}
	}
	// .qn-menu__actions
	&__actions {
		display: flex;
		flex: 1 1 auto;
		max-width: 100%;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: 16px 0 0;

		// костыль для контекстного меню
		.context-menu__list {
			top: calc(100% - 11px);
		}
	}
	// .qn-menu__buy-shares
	&__buy-shares {
		margin: 0px 16px 16px 0;
	}
	// .qn-menu__filter
	&__filter {
		.qn-filters {
			opacity: 0;
			visibility: hidden;
		}

		&._opened {
			.qn-filters {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .qn-menu__btn
	&__btn {
		display: flex;
		align-items: center;
		max-height: 40px;
		margin: 0 16px 16px 0;
		padding: 9px 22px;
		border-radius: 5px;
		white-space: nowrap;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		transition: all $t * 0.5 ease-in-out;

		svg {
			margin-right: 0px;
			width: 18px;
			height: 18px;
			fill: #fff;
		}

		span {
			display: none;
		}

		&:disabled {
			background: transparent;
			border-color: $disabled-color;
			color: $disabled-color;
			pointer-events: none;
			svg {
				fill: $disabled-color;
			}
		}

		&:hover {
			// не мкнять background: ;
		}

		&--simple,
		&--filter {
			background: #4f91cd;
			border: 1px solid #4f91cd;

			&:hover {
				border-color: #4f91cd;
				color: #4f91cd;
				background: transparent;

				svg {
					fill: #4f91cd;
				}
			}
			&:active {
				background: #4f91cd;
				border: 1px solid #4f91cd;
				color: #fff;
			}
		}

		&--calc {
			background: #444444;
			border: 1px solid #444444;

			&:hover {
				border-color: #444444;
				color: #444444;
				background: transparent;

				svg {
					fill: #444444;
				}
			}
		}

		&--primer {
			align-self: flex-start;
			margin: 0 0 16px 0;
			color: #444444;
			background: #ffe600;
			border: 1px solid #ffe600;
			font-weight: 600;

			&:hover {
				background: transparent;
			}

			@media (min-width: $md4 + px) {
				margin: 16px 0 16px auto;
			}
		}

		@media (min-width: 600px) {
			span {
				display: block;
			}

			svg {
				margin-right: 10px;
			}
		}
	}
	// .qn-menu__link
	&__link {
		display: inline-block;
		margin: 10px 0 0;
		font-size: 14px;
		line-height: 20px;
		color: #606060;
		text-decoration: underline;

		span {
			white-space: nowrap;
		}

		@media (min-width: $md3 + px) {
			white-space: nowrap;
		}
	}
}
