.quotes-body {
  min-height: calc(100vh - 330px);
  
  // .quotes-body__info
  &__info {
    margin: 0 0 35px;
    padding: 15px;
    line-height: 1.3;

    &--mb-small {
      margin-bottom: 15px;
    }

    p {
      margin: 0 0 1em;
      &:last-child {
        margin: 0;
      }
    }
  }
  // .quotes-body__hint
  &__hint {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 15px 0 30px ;
  }
  // .quotes-body__hint-content 
  &__hint-content {
    display: inline-flex;
    align-items: center; 
    padding: 6px 10px 6px 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  // .quotes-body__hint-icon
  &__hint-icon {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
  // .quotes-body__block
  &__block {
    margin: 0 0 50px;

    &--mb-small {
      margin-bottom: 15px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  // .quotes-body__block-title
  &__block-title {
    margin: 0 0 15px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  // .quotes-body__scroll-x-table
  &__scroll-x-table {
    overflow: auto;
    padding-bottom: 8px;
  }
  // .quotes-body__chart
  &__chart {  

    & > div {
      width: 100%;
    }
    & > div > svg,
    .highcharts-root {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }

    &--for-abs {
      position: relative;
      padding-bottom: 46.5%;
    }
  }
  // .quotes-body__chart-inner
  &__chart-inner {
    width: 100%;
    img {
      width: 100%;
    }

    &--abs {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }
  }
}
