.right-sidebar {
    
    $delta: 60px;

    position: absolute;
    z-index: 9;
    top: 60px;
    right: 0;
    height: 100%;
    width: 0;
    padding: 15px 0;
    background: #f1f1f1;
    border-left: 1px solid rgba(11, 84, 131, 0.34);
    transition: all 0.4s ease;

    &,
    * {
        box-sizing: border-box;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;

        top: 0;
        bottom: 0;
        left: -$delta;
        width: 0;

        background: #000;
        opacity: 0;
        transition: all 0.4s ease;
    }

    &--opened {
        width: calc(100vw - $delta);
        padding: 15px;
        box-shadow: -4px 0px 11px 4px rgb(117, 117, 117, 25%);
        border-left: 1px solid rgba(11, 84, 131, 0.34);

        /* &::before {
            opacity: 0.5;
            width: $delta;
        } */

        .right-sidebar__banner,
        .right-sidebar__content {
            width: calc(100vw - $delta - 30px);
            transition: all 0.4s ease;
        }

        .right-sidebar__btn {
            right: calc(100vw - $delta - 1px);
            svg {
                transform: scaleX(1);
                transition: all 0.4s ease;
            }
        }

        @media (min-width: $md4 + px) {
            width: 330px;

            &::before {
                display: none;
            }

            .right-sidebar__banner,
            .right-sidebar__content {
                width: 300px;
            }

            .right-sidebar__btn {
                right: 330px;
                svg {
                    transform: scaleX(1);
                    transition: all 0.4s ease;
                }
            }
        }
    }

    @media (min-width: 1500px) {
        &,
        &--opened {
            width: 330px;
            background: none;
            border: none;
            overflow: visible;
        }

        .right-sidebar__banner,
        .right-sidebar__content {
            //opacity: 1;
        }

        .right-sidebar__btn {
            display: none;
        }
    }

    &__banner,
    &__content {
        transition: all 0.4s ease;
        //opacity: 0;
        overflow: hidden;
    }

    // .right-sidebar__banner
    &__banner {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        // стили для демотстрации
        background: rgb(174, 247, 241);
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }

    // .right-sidebar__inner
    &__inner {
        position: sticky;
        top: 15px;
        height: calc(100vh - 30px);
        overflow-y: auto;

        /* Работает в Chrome, Edge и Safari */
        &::-webkit-scrollbar {
            width: 0;
        }
        /* Работает в Firefox */
        scrollbar-width: none;
    }

    // .right-sidebar__content
    &__content {
    }

    // .right-sidebar__btn
    &__btn {
        position: fixed;
        z-index: 999;
        top: calc(50vh - 75px);
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 40px;
        padding: 10px;
        color: $blue-btn;
        background: #fff;
        border: solid rgba(11, 84, 131, 0.34);
        border-width: 1px 0 1px 1px;
        border-radius: 8px 0 0 8px;
        box-shadow: -4px 0px 11px 4px rgb(117, 117, 117, 25%);
        transition: all 0.4s ease;

        span {
            flex: 0 0 14px;
            margin: 14px 0;
            line-height: 20px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.0125em;
            //word-break: break-all;
            writing-mode: vertical-rl;
            //text-transform: uppercase;
        }

        svg {
            //fill: $blue-btn;
            stroke: $blue-btn;
            transform: scaleX(-1);
            transition: all 0.4s ease;
        }
    }
}
