.short-comment {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 10px;
    letter-spacing: 0.0125em;

    &--wide-company {
        .short-comment__info {
            position: relative;
        }

        .short-comment__column {
            &:first-child {
                flex: 0 0 100%;
                width: 100%;

                .short-comment__inner {
                    width: calc(100% - 50px);
                }

                .short-comment__author {
                    width: calc(100% - 55px);
                }
            }

            &:last-child {
                position: absolute;
                z-index: 3;
                right: 0;
                bottom: 0;

            }
        }
    }

    // .short-comment__info
    &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    // .short-comment__column
    &__column {
        display: flex;

        &:first-child {
            flex: 0 0 calc(100% - 55px);
            width: calc(100% - 55px);

            .short-comment__inner {
                width: calc(100% - 50px);
            }
        }

        &:last-child {
            padding: 0 0 0 8px;
            flex: 0 0 55px;
            max-width: 55px;

            .short-comment__inner {
                width: 100%;
                align-items: flex-end;
            }
        }
    }
    // .short-comment__logo
    &__logo {
        position: relative;
        z-index: 2;
        margin-right: 8px;
        width: 40px;
        height: 40px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .short-comment__inner
    &__inner {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    &__company,
    &__author {
        position: relative;
        z-index: 3;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        color: #dcdcdc;

        &:hover {
            text-decoration: underline;
        }
    }
    // .short-comment__company
    &__company {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        color: #383838;
    }
    // .short-comment__author
    &__time,
    &__author {
        font-size: 14px;
        line-height: 22px;
        color: #929292;
    }
    // .short-comment__time
    &__time {
        max-width: 100%;
        width: 100%;
        margin-top: auto;
        overflow: hidden;
        text-align: right;
    }
    // .short-comment__text
    &__text {
        font-size: 16px;
        line-height: 23px;
        color: #312c26;

        span {
            @include line-clamp(5, 23);
        }
    }
    // .short-comment__link
    &__link {
        display: block;
        border-radius: 10px;
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
