.slide-sidebar {
    $delta: 60px;
    $time: .4s;

    position: absolute;
    z-index: 9;
    top: 60px;
    right: 0;
    height: calc(100% - 60px);
    width: 0;
    padding: 15px 0 0;
    background: #f1f1f1;
    border-left: 1px solid rgba(11, 84, 131, 0.34);
    border-right: 0px solid rgba(11, 84, 131, 0.34);
    transition: all $time ease;

    &,
    * {
        box-sizing: border-box;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;

        top: 0;
        bottom: 0;
        left: -$delta;
        width: 0;

        background: #000;
        opacity: 0;
        transition: all $time ease;
    }

    &--not-on-mobile {
        @media (max-width: $md3 + px) {
            display: none;
        }
    }

    &--opened {
        width: calc(100vw - $delta);
        padding: 15px 15px 0;
        border-right-width: 1px;
        box-shadow: -4px 0px 11px 4px rgb(117, 117, 117, 25%);

        &::before {
            opacity: 0.5;
            width: $delta;
        }

        .slide-sidebar__banner,
        .slide-sidebar__title,
        .slide-sidebar__content {
            width: calc(100vw - $delta - 32px);
            transition: all $time ease;
        }

        .slide-sidebar__slide-btn {
            right: calc(100vw - $delta - 1px);
            svg {
                transform: scaleX(1);
                transition: all $time ease;
            }
        }

        @media (min-width: $md4 + px) {
            width: 330px;

            &::before {
                display: none;
            }

            .slide-sidebar__banner,
            .slide-sidebar__title,
            .slide-sidebar__content {
                width: 298px;
            }

            .slide-sidebar__slide-btn {
                right: 329px;
                svg {
                    transform: scaleX(1) rotate(-90deg);
                    transition: all $time ease;
                }
            }
        }

        @media (min-width: 1530px) {

            .slide-sidebar__banner,
            .slide-sidebar__title,
            .slide-sidebar__content {
                width: 300px;
            }
        }
    }

    @media (min-width: 1530px) {
        width: 315px;
        padding: 15px 15px 0 0;

        &,
        &--opened {
            width: 315px;
            padding: 15px 15px 0 0;
            background: none;
            border: none;
            box-shadow: none;

            .slide-sidebar__banner,
            .slide-sidebar__title,
            .slide-sidebar__content {
                width: 300px;
            }
        }

        .slide-sidebar__slide-btn {
            display: none;
        }
    }

    &__banner,
    &__title, 
    &__content {
        transition: all $time ease;
        overflow: hidden;
    }

    // .slide-sidebar__banner
    &__banner {
        display: none;
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 15px;

        @media (min-width: $md3 + px) {
            display: block;
        }
    }

    // /slide-sidebar__banner-content 
    &__banner-content {
        width: 300px;
        height: 600px;

        & > * {
            max-width: 300px;
            margin: auto;
        }
    }

    // .slide-sidebar__title-wrap
    &__title-wrap {
        position: sticky;
        top: 15px;
        margin: 0 0 20px;
        overflow: hidden;
    }

    // .slide-sidebar__title
    &__title {
        display: block;  
        line-height: 24px;
        letter-spacing: 0.0125em;
        white-space: nowrap;
    }

	// .slide-sidebar__title-text
    &__title-text {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        color: #424242;
    }

	// .slide-sidebar__title-hint
    &__title-hint {
        font-size: 15px;
        color: #929292;
        font-weight: 400;
    }

    // .slide-sidebar__inner
    &__inner {
        position: sticky;
        top: 83px;
        height: calc(100vh - 98px);
        overflow-y: auto;
        overflow-x: hidden;

        /* Работает в Chrome, Edge и Safari */
        &::-webkit-scrollbar {
            width: 0;
        }
        /* Работает в Firefox */
        scrollbar-width: none;

        &--radius {
            border-radius: 10px;
        }
    }

    // .slide-sidebar__content
    &__content {
    }

    // .slide-sidebar__content-inner
    &__title,
    &__content-inner {
        min-width: calc(100vw - $delta - 32px);
        width: calc(100vw - $delta - 32px);

        @media (min-width: $md4 + px) {
            min-width: 298px;
            width: 298px;
        }

        @media (min-width: 1530px) {
            min-width: 300px;
            width: 300px;
        }
    }

    // .slide-sidebar__item 
    &__item {
        margin: 0 0 20px; 
    }

    // .slide-sidebar__btn
    &__btn {
        border-radius: 10px;
        height: 44px;
        width: 100%;
    }

    // .slide-sidebar__slide-btn
    &__slide-btn {
        position: fixed;
        z-index: 999;
        bottom: 20px;
        right: 0;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        padding: 10px 10px 13px; 
        color: $blue-btn;
        background: #fff;
        border: solid rgba(11, 84, 131, 0.34);
        border-width: 1px 0 1px 1px;
        border-radius: 8px 0 0 8px;
        box-shadow: -4px 0px 11px 4px rgb(117, 117, 117, 25%);
        transition: all $time ease;

        span {
            line-height: 20px;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.0125em;
            transform: rotate(180deg);
            //word-break: break-all;
            writing-mode: vertical-rl;
            white-space: nowrap;
            //text-transform: uppercase;
        }

        svg {
            margin-bottom: 8px;
            fill: $blue-btn;
            stroke: $blue-btn;
            transform: scaleX(-1) rotate(-90deg);
            transition: all $time ease;
        }

        @media (min-width: $md3 + px) {
            top: 50vh;
            bottom: auto;
            transform: translate(0, -50%);
        }
    }
}

