@import "./../base/variables";

.register-page {
    font-family: "Verdana", sans-serif;
    background: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px 0;

    * {
        box-sizing: border-box;
    }

    // .register-page__wrap
    &__wrap {
        align-self: start;
        width: 500px;
        background: #fff;
        padding: 15px;
        -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        @media (max-width: 767px) {
            width: calc(100% - 30px);
        }
    }
    // .register-page__logo
    &__logo {
        a {
            text-align: center;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: #505050;
            font-weight: 900;
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
    // .register-page__form
    &__form {
    }
    // .register-page__form-title
    &__form-title {
        text-align: center;
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 16px;
    }

    // .register-page__hint
    &__hint {
        font-size: 13px;
        margin-top: 3px;
        color: #ccc;

        a {
            color: #000;
            font-weight: 600;
            text-decoration: underline;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.input-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    div {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    a {
        text-align: center;
        display: block;
        color: #0000ee;
        line-height: 19px;
        font-size: 16px;
        float: right;
        text-decoration: none;
    }

    label {
        font-size: 12px;
        font-weight: 600;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    textarea {
        border-radius: 4px;
        width: 100%;
        max-width: 100%;
        padding: 8px 15px;
        border: 1px solid #777;
        outline: none;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    input,
    select {
        height: 35px;
        border-radius: 4px;
        width: 100%;
        padding: 0 15px;
        border: 1px solid #777;
        outline: none;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }


    input,
    select,
    textarea {
        &:focus {
            border-color: #48d69f;
            -webkit-box-shadow: 0 0px 3px 2px #48d69f;
            box-shadow: 0 0px 3px 2px #48d69f;
        }

        &:focus ~ .register-page__hint {
            color: #000;
        }
    }

    // .input-field__checkbox
    &__checkbox {
        input {
            display: none;
        }

        label {
            position: relative;
            padding-left: 30px;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 40%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                border: 1px solid #f95050;
                background: #f9f9f9;
                border-radius: 4px;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }

            &::after {
                content: "";
                position: absolute;
                left: 3px;
                top: 40%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 14px;
                height: 14px;
                border: 1px solid #76ff2f;
                background: #76ff2f;
                opacity: 0;
                border-radius: 4px;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
        }

        input:checked ~ label:after {
            opacity: 1;
            border-radius: 50%;
            background: #48d69f;
        }

        input:checked ~ label:before {
            border: 1px solid #48d69f;
            background: #fff;
            border-radius: 50%;
            -webkit-box-shadow: 0 0px 3px 2px #48d69f;
            box-shadow: 0 0px 3px 2px #48d69f;
        }
    }
    // .input-field__button
    &__button {
        margin-bottom: none;

        button {
            width: 100%;
            height: 45px;
            text-transform: uppercase;
            font-weight: 600;
            background: #48d69f;
            color: #fff;
            font-size: 18px;
            line-height: 1;
            border: 1px solid #48d69f;
            border-radius: 4px;
            outline: none;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                -webkit-box-shadow: 0 0px 3px 2px #48d69f;
                box-shadow: 0 0px 3px 2px #48d69f;
            }
        }
    }
}
.chat {
    // .chat_login
    &_login {
    }
}
.chat_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

    @media (min-width: $md5 + px) {
        flex-direction: row;
        justify-content: space-between;
    }

    // .chat_login__item
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $md5 + px) {
            width: calc(33% - 7px);
            margin-bottom: 0;
        }

        span {
            z-index: 10;
            font-size: 12px;
        }

        &::before {
            position: absolute;
            content: ""; 
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 9;
            border-radius: 3px;
            transition: all .2s ease;
        }
        
        &:hover:before {
            border: 2px solid #fff;
            top: 3px;
            bottom: 3px;
            right: 3px;
            left: 3px;
        }

        &--vk {
            background: #4d76a1;
        }
        &--fb {
            background: #3b5998;
        }
        &--gl {
            color: #000;
            border: 2px solid #000;   

            svg {
                margin-right: 8px;
            }

            &:hover:before {
        	    border: 2px solid #000;      
            }
        }

    }
    // .chat_login__item-vk
    &__item-vk {
    }
    // .chat_login__item-fb
    &__item-fb {
    }
    // .chat_login__item-gl
    &__item-gl {
    }
}

.has-error input,
.has-error select,
.has-error textarea {
    -webkit-box-shadow: 0 0px 3px #f95050;
    box-shadow: 0 0px 3px #f95050;
    border-color: #f95050;
}
.has-error input:focus,
.has-error select:focus,
.has-error textarea:focus {
    -webkit-box-shadow: 0 0px 3px #f95050;
    box-shadow: 0 0px 3px #f95050;
    border-color: #f95050;
}

.input-field.has-error input ~ .register-page__hint,
.input-field.has-error textarea ~ .register-page__hint {
    color: #000;
}
