.spinner-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 150px;
  padding: 45px 15px;

	// .spinner-loader__ring
	&__ring {
    display: inline-block;
    width: 30px;
    height: 30px;
    border:  3px solid #479CD3;
    border-right-color: transparent;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-loader;
	}
	// .spinner-loader__label
	&__label {
    position: relative;
    left: 0.3em;
    margin-top: 15px;
    color: #808080;
    letter-spacing: 0.175px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
	}
}

@keyframes spinner-loader {
  to { transform: rotate(360deg) #{"/* rtl:ignore */"}; }
}
