#progress-wrap {
  flex: 0 0 150px;
  margin: 0 auto;
  position: relative;
  width: 150px;
  height: 150px;
}

#progress-wrap svg {
  position: absolute;
  z-index: 3;
}
 
.progress-text {
  z-index: 11;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  cursor: pointer;
  top: 0px;
  right: -10px;
}
#upload-container {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
  width: 140px;
  height: 140px;
}
@media (min-width: 700px) {
  .progress-text {
    left: -3px;
    bottom: -5px;
    top: auto;
    right: auto;
  }
}


/* временно для демонстрации */
.form_hover_label::before {
  background-image: url('https://smart-lab.ru/plugins/smartusers/templates/skin/default/actions/ActionProfile/whois_assets/photo_camera.svg');
}
