.brokers-block {
    text-align: center;
    padding: 0 10px 32px;

	// .brokers-block__title
	&__title {
    margin: 20px 0;
    font-size: 16px;
    line-height: 20px;
	}
}
.brokers-card {
  display: inline-block;
  padding: 16px;
  margin: 5px;
  border: 1px solid #cecece;
  box-shadow: 0 0 15px 3px #d4d4d4;
  background: #fff;
  //transition: all $t*0.5 ease;

  &:hover {
    box-shadow: 0 0 15px 3px #eeeeee;
  }
}
