// .buy-shares
.buy-shares {
	position: relative;

  // .buy-shares__btn 
  &__btn {
    display: inline-flex;
		align-items: center;
		padding: 9px 24px;
		border-radius: 5px;
		white-space: nowrap;
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		transition: all $t*0.5 ease-in-out;
    background: #008000;
		border: 1px solid #008000;

		&:hover {
			background: transparent;
			border-color: #008000;
			color: #008000;
		}
		&:active {
			background: #008000;
			border: 1px solid #008000;
			color: #fff;
		}

    &:disabled {
			background: transparent;
			border-color:  $disabled-color;
			color: $disabled-color;
			pointer-events: none;
			svg {fill: $disabled-color;}
		}
  }

	// .buy-shares__popup
	&__popup {
		overflow: hidden;
		position: absolute;
    top: calc(100% + 5px);
		z-index: 100;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
    border-color: #74a3c7;
    border-radius: 4px;
		box-shadow: 0 2px 8px rgba($color: #000000, $alpha: .45);		
		transition: all $t ease;
		opacity: 0;
		visibility: hidden;
	}
	// .buy-shares__link 
	&__link {
		display: flex;
		align-items: center;
		padding: 0.7em 1em;
		font-size: 16px;
		color: #74a3c7;
		white-space: nowrap;

		img {
	    width: 26px;
    	height: 26px;
			margin-left: 0.6em;
			margin-right: 0.25em;
		}

		&:hover {
			background-color: #f4f4f4;
		}
	} 
	// .buy-shares__broker
	&__broker {
		font-weight: 700;
	}
}