// тобы не писать массу медиа запросов для каждого шаблона, а ширины колонок были адаптивны и универсальны,
// для .content__main максимальная ширина max-width:  вычисляется и задается в файле common.js
.content {
  display: flex;
  align-items: stretch ;
  max-width: 100%;
  width: 100%;

  // .content__left
  &__left {
    // ширина определяется контентом
  }
  // .content__main
  &__main {
    flex: 1 1 auto;
    background: #FBFBFB;

    max-width: 100%;
/* 
    @media (min-width: $md2 + px) {
      max-width: calc( 100% - 300px);
    }

    @media (min-width: $md1 + px) {
      max-width: calc( 100% - 360px - 210px);
    } */
  }
  // .content__right
  &__right {
    // ширина определяется контентом
  }
}
