%forum-top-actions-btn {
  
}

.forum-top-actions {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  width: 100%;
  max-width: 100%;
  /* overflow-x: hidden;
  overflow-y: visible; */

  @media (min-width: $md3 + px) {
    padding: 0 20px;
  }

	// .forum-top-actions__pop-up
	&__pop-up {
    display: inline-block;
    margin: 5px 16px 5px 0;

    @media (max-width: $md5 + px) {
      .forum-pop-up__item span {
        display: none;
      }
    }
	}

  // .forum-top-actions__btn 
  &__btn {
    
    display: inline-flex;
    align-items: center;
    height: 40px;
    color: #74a3c7;
    padding: 0px 16px;
    margin: 5px 16px 5px 0;
    border: 1px solid #74A3C7;
    border-radius: 3px;
    background-color: #fff;
    line-height: 20px;
    font-size: 16px;

    &:hover {
      color: #c7c7c7;

      svg {
        fill: #c7c7c7;
      }
    }

    svg {
      margin: 0 5px 0 0 ;
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      fill: #74A3C7;
    }

    &--sort {
      padding-left: 10px;
      background: #74A3C7;
      color: #fff;

      svg {
        margin-right: 2px;
        fill: #fff;
      }

      &:hover {
        color: #fff;
        box-shadow: 0 2px 8px rgb(0 0 0 / 25%);

        svg {
          fill: #fff;
        }
      }
    }

    &--svg {
      justify-content: center;
      padding: 0;
      width: 40px;

      svg {
        margin: 0;
      }
    }
  }
  
  .buy-shares__btn {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 7px 16px;
    border-radius: 3px;
    font-size: 16px;

    &:hover {
      background-color: #39d839;
      border-color: #39d839;
      color: #fff;
    }
  }

  .buy-shares__popup {
    border: 1px solid #74A3C7;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 45%);
  }
}
.forum-pop-up {

	// .forum-pop-up__btn
	&__btn {
    display: inline-flex;
    align-items: center;
    height: 40px;
    color: #74a3c7;
    padding: 0px 16px;
    margin: 0;
    border: 1px solid #74A3C7;
    border-radius: 3px;
    background-color: #fff;
    line-height: 20px;
    font-size: 16px;

    &:hover {
      color: #c7c7c7;

      svg {
        fill: #c7c7c7;
      }
    }

    svg {
      margin: 0 5px 0 0 ;
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
      fill: #74A3C7;
    }
	}
	// .forum-pop-up__body
	&__body {
    overflow: hidden;
    top: calc(100% + 5px);
    max-width: calc( 100vw - 20px );
    background-color: #fff;
    padding: 0;
    border: 1px solid #74A3C7;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 45%);
	}
	// .forum-pop-up__item
	&__item {
    display: flex;
    align-items: center;
    width: 100%;
    color: #74a3c7;
    padding: 10px 12px;
    margin: 0;
    line-height: 20px;
    background-color: transparent;
    font-size: 16px;
    white-space: nowrap;

    &--mark,
    &:hover {
      background-color: #f4f4f4;
    }

    svg {
      margin: 0 0.5em 0 0 ;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      fill: #242424;
    }

    &._selected {
      color: green;

      &::before {
        content: '✓';
        display: inline-block;
        margin-right: 0.5em;
      }
    }

    // .forum-pop-up__item--favourite
	  &--favourite {

      &._selected {
        color: red;
      }
	  }
	  // .forum-pop-up__item--none
	  &--none {
	  }

    @media (min-width: $md5 + px) {

      &._selected {
        font-weight: 700;
      }
    }
	}
}
