.menu {

	// .menu__icon
	&__icon {
		cursor: pointer;
		padding: 10px 5px;

		@media (min-width: $md5 + px) {
			padding: 10px;	
		}
	}
	// .menu__body
	&__body {
		position: absolute;
		top: 51px;
		left: 0px;
		display: flex;
		width: 100%;
		height: calc(100vh - 51px);
		background: #202020;
		border-top: 1px solid $menu-border;
		transform: translate(-102%, 0);
		transition: all $t ease;
		overflow-x: hidden;

		.simplebar-scrollbar:before {
			right: 0;
			background: #666;
			border-radius: 0;
			opacity: 0.9;
		}
		.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
			width: 9px;
		}
		.simplebar-track.simplebar-horizontal {
			display: none;
		}
		
		@media (min-width: 1170px) {

			.simplebar-content-wrapper {
				margin-bottom: -15px;
			}
			.simplebar-content {
				display: flex;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
    margin: 0;
		list-style: none;
		flex-direction: column;
		overflow: hidden;

		@media (min-width: 1170px) {
			display: inline-flex;
			flex-direction: row;
			margin: 0 auto;
			padding: 0 10px;
			height: 100%;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		padding: 0;
    flex: 0 0 auto;
		
		&--feeds {
				.menu__item-title::before
					{background: #F59300;}
			}
			&--forum {
				.menu__item-title::before
					{background: #3FAEFF;}
			}
			&--quotes {
				.menu__item-title::before
					{background: #0F8C14;}
			}
			&--stocks {
				.menu__item-title::before
				 	{background: #F51010;}

				.menu__sub-item.menu__sub-item--mb {
					@media (min-width: 1170px) {
						margin-bottom: 190px;
					}
				}
			}
			&--comb {
				.menu__item-title::before {
					display: none;
				}
				.menu__sub-list {
					@media (min-width: 1170px) {
						padding-bottom: 26px;
					}
				}
			}

		@media (min-width: 1170px) {
			flex: 0 0 230px;
			width: 230px;
			padding: 20px 0 20px;
			min-height: calc(100vh - 51px);
			border-left: 1px solid $menu-border;

			&:last-child {
				border-right: 1px solid $menu-border;
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 547px;
				right: 0;
				width: 100%;
				height: 5px;
			}
			&--feeds {
				&::after											
				 	{background: #F59300;}
			}
			&--forum {
				&::after
					{background: #3FAEFF;}
			}
			&--quotes {
				&::after
					{background: #0F8C14;}
			}
			&--stocks {
				&::after
					{background: #F51010;}
			}
			&--comb {
				&::after
					{background: #414141;}
			}
		}
		
	}
	// .menu__item-title
	&__item-title {
		cursor: pointer;
		font-size: 16px;
		line-height: 1.5;
		display: flex;
		align-items: center;
		padding: 10px 20px 10px 20px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #fff;
		transition: all $t ease;
	
		span {
			flex: 1 1 auto;
		}
		svg {
			width: 24px;
			height: 24px;
			fill: $icon-color;
		}

		&--f-size {
			font-size: 16px;
			line-height: 1.5;
		}

		&._active {
			background: $style-1-color;

			svg {
				transform: scaleY(-1);
			}
		}
		@media (min-width: 1170px) {
			cursor: default;
			margin-bottom: 10px;
			padding: 0 20px;
			font-weight: bold;
			font-size: 20px;
			line-height: 1.5;

			svg {
				display: none;
			}
			&--f-size {
				font-size: 18px;
				line-height: 28px;
			}
			&::before {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $icon-color;
				margin-right: 15px;
			}
		}
	}
	// .menu__sub-list
	&__sub-list {
		display: none;
		padding-bottom: 10px;

		@media (min-width: 1170px) { 
			display: block;
		}
	}
	// .menu__sub-item
	&__sub-item {
		display: flex;

		@media (min-width: 1170px) { 

			&--mb {
				margin-bottom: 21.5px;
			}
			&--border {
				border-top: 1px solid $menu-border;
				padding-top: 21.5px;
			}
		}
	}
	// .menu__link
	&__link {
		display: inline-block;
		width: 100%;
		padding: 10px 20px 10px 35px;
		font-size: 16px;
		line-height: 22px;
		color: $icon-color;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&--bold {
			font-weight: bold;
		}

		@media (min-width: 1170px) {
			
			padding: 10px 20px;
			&:hover {
				background: $style-1-color;
			}
		}
	}
	// .menu__comb-list
	&__comb-list {
	}
	// .menu__comb-item
	&__comb-item {

		@media (min-width: 1170px) {
			&:not(:last-child) {
				border-bottom: 1px solid $menu-border;
			}
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}
	&._open {

		.menu__body {
			transform: translate(0, 0);
		}

		.menu__icon span {
			transform: scale(0);
			&:first-child {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&:last-child {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}

//Burger
.icon-menu {
	position: relative;
	display: block;
	flex: 0 0 14px;
	width: 14px;
	height: 12px;
	cursor: pointer;
	z-index: 5;
	span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: $icon-color;
		&:first-child {
			top: 0px;
		}
		&:last-child {
			top: auto;
			bottom: 0px;
		}
	}
	/* &._active {
		span {
			transform: scale(0);
			&:first-child {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&:last-child {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		} 
	}*/
	&:hover span {
		background: #fff;
	}
}