//<МИКСИНЫ>===============================================================================================
@import "./base/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "./base/fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Roboto, Arial,  Verdana, sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "./base/variables";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "./base/null";

html {
	scroll-behavior: smooth;
}

body {
	font-family: $fontFamily;
	color: #000;
	font-size: 14px;
	width: 100%;
	&._lock {
		overflow: hidden;
	}

	&._style-1 {
		background: $style-1-main-bg;
	}
	&._style-2 {
		background: $style-2-main-bg;
	}
	&._style-3 {
		background: $style-1-main-bg;
	}
}
html._lock  {
	overflow: hidden;
}
picture {
    line-height: 0;
    font-size: 0;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	/* &._loaded {

	} */
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
	//width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "./base/forms";
//@import "./base/ui";
@import "./base/global";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./plugins/simplebar";
@import "./plugins/swiper";
//@import "./plugins/sumoselect";
//@import "./plugins/datepicker-new";
//@import "./plugins/flex-table";
//@import "./plugins/choices";
//@import "./plugins/nouislider";
@import "./plugins/jBox.all";
//@import "./blocks/pagging";
//@import "./blocks/popup";
@import "./blocks/header";
//@import "./blocks/_main";
//@import "./blocks/_forum-pg";
@import "./blocks/_menu";
@import "./blocks/_alphabet";
@import "./blocks/navbar";
//@import "./blocks/_content";
//@import "./blocks/social-btn";
//@import "./blocks/footer";
//@import "./blocks/_quotes-menu";
//@import "./blocks/_buy-shares";
//@import "./blocks/_selector-links";
//@import "./blocks/_qn-filters";
//@import "./blocks/_trades-table";
//@import "./blocks/_company-bar";
//@import "./blocks/_new-msgs-box";
//@import "./blocks/_profile-popup";
//@import "./blocks/_abs-scroller";
//@import "./blocks/_company-description";
//@import "./blocks/_brokers-block";
//@import "./blocks/_forum-top-panel";
//@import "./blocks/_forum-pop-up";
//@import "./blocks/_comment";
//@import "./blocks/_paging";


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.pop-up-container {
	display: none;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Доп правила для jBox>===

.jBox-Tooltip .jBox-container {
	max-width: calc(100% - 20px) !important;
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(0 0 0 / 25%);
	overflow: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
.jBox-content {
	//max-width: 100% !important;
  //width: 100% !important;
	overflow: hidden;
	padding: 0 !important;
	//margin: 0 !important;
}
//</Доп правила для jBox>===

// Костыль для  .jBox
		/* .jBox-content {
			padding: 0;
		}
		#notifiesPopover .jBox-content {
    	max-width: 100% !important;
    	width: 100% !important;
		}
		@media screen and (min-width: 767px) {
			#notifiesPopover .jBox-content {
    		max-width: 100% !important;
    		width: 100% !important;
			}
		} */
//=====