
.notify-label {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 2px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    vertical-align: middle;
    height: 19px;
    width: 19px;
    color: #fff;
    background: #e83a3a;
    overflow: hidden;
    user-select: none;
}

// Кнопка крестик
.cls-btn { 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    span {
        position: relative;
        width: 100%;
        height: 2px;
        &::before, &::after{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #c5c5c5;;
        }
        &::before {
            transform: rotate(-45deg);
        } 
        &::after{
            transform: rotate(45deg);
        }
        &:hover::before, &:hover::after {
            background: rgb(226, 8, 8);
        }
    } 
}

// Класс общий для всех контекстных меню .context-menu
.context-menu {
    position: absolute;
    z-index: 3;
    top: 0;         // при необходимости переопределяются непосредственно в самом элементе
    right: 0;       // при необходимости переопределяются непосредственно в самом элементе
    color: #000;

    button{
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: #242424;
    }

    ul {
        position: absolute;
        padding: 3px 0;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 50%);
        opacity: 0;
        visibility: hidden;

        li {

            button{
                cursor: pointer;
                display: block;
                width: 100%;
                line-height: 20px;
                padding: 5px 10px;
                background: none;
                text-align: left;

                &:hover {
                  background: #E2E2E2;
                }
            }
        }
    }

    &._open {

        ul {
            animation: context-menu $t ease forwards;
        }
    }
}

// Анимацыя для выпадающих контекстных меню .context-menu
@keyframes context-menu {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, -20px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }
}