$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer;
$md2: 991.98;
$md2-1: 810;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;
$md6: 364.98;

$t: .3s;

$html-fsize: 16;

$style-1-color: #F59300;
$style-2-color: #d4d4d4;
$style-3-color: #d4d4d4;

$style-1-main-bg: #2d2d2d;