$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer;
$md2: 991.98;
$md2-1: 810;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;
$md6: 364.98;

$t: .3s;

$html-fsize: 16;

$style-1-color: #F59300;
$style-2-color: #d4d4d4;
$style-3-color: #d4d4d4;

$header-bg-color: #1f1f1f; // #2d2d2d;
$icon-color: #d4d4d4;
$search-input-bg: #1f1f1f;//#424242;
$search-sel-bg : #4f4f4f;
$header-bg: #1f1f1f;
$style-1-main-bg: #2d2d2d;
$menu-border: #3F3F3F;

$white:  #FFFFFF;
$background: #3F3F3F;
$background: #F59300;
$background: #202020;
$background: #3FAEFF;
$background: #F51010;
$background: #0F8C14;
$background: #17871C;
$background: #414141;
$background: #555555;
