@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "TrebuchetMS";
  font-display: swap;
  src: url("../fonts/TrebuchetMS-Bold.woff2") format("woff2"), url("../fonts/TrebuchetMS-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TrebuchetMS";
  font-display: swap;
  src: url("../fonts/TrebuchetMS.woff2") format("woff2"), url("../fonts/TrebuchetMS.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "TrebuchetMS";
  color: #444;
  background: #fcfcfc;
  font-size: 18px;
  margin: 0;
}
h1 {
  color: #06aecf;
}
h3 {
  margin-bottom: 15px;
  color: #e4115e
}
h4 {
  margin: 15px 0;
}
a,
a h3 {
  color: #333;
}
ol {
  margin-bottom: 50px;
}
li::marker {
  font-size: 22px;
}
pre {
  /* min-width: 100%; */
  display: flex;
  font-size: 16px;
}
code {
  display: block;
}
footer {
  padding: 20px 0;
}
footer a {
  text-decoration: none;
}
._container {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}
.simplebar-content-wrapper {
  background: #272822;
}
.simplebar-mask {
  border-radius: 5px;
}
.box__info {
  margin-bottom: 70px;
}
.box__info:last-child {
    margin-bottom: 0px;
  }
.box__info:last-child .box__inner:last-child{
    margin-bottom: 0px;
}
.box__inner {
  margin-bottom: 40px;
}
.class_name {
  color: #71a704
}

@media (max-width: 560px) {

  ._container {
    padding: 0 15px;
  }

  h1 {
    font-size: 30px;
    margin: 15px 0 15px;
  }
  h2 {
    font-size: 20px;
  }
  h3,
  li::marker {
    font-size: 18px;
  }
  h4 {
    margin: 10px 0;
  }
  ol {
    padding-left: 20px;
  }
  .box__info {
    margin-bottom: 50px;
  }
  .box__info:last-child {
    margin-bottom: 25px;
  }
  .box__inner {
    margin-bottom: 25px;
  }
}