.close-button.hidden:after {
  content: 'показать ♒';
  white-space: nowrap;
}
.nocenter .page-title__text {
  margin: 0 0 0 18px;
}
.temp_micex_info_item {
  margin: .5em 1em .5em 0;
}
.temp_micex_info_item:last-child {
  margin: .5em 0;
}

@media(max-width: 767px) {

  .forum_content .forum-top-buttons {
    margin: 5px 0;
  }
  .nocenter .page-title__text {
    margin: 0 10px 0 10px;
  }
  .temp_micex_info span,
  .temp_micex_info_item:last-child  {
    margin: 5px 15px 0px 0px;
  }

  #commentBox {
    margin: 0px 0px 34px 0px;
  }

  #commentBox .write_comment {
    min-height: 0;
  }
  
}