//<МИКСИНЫ>===============================================================================================
@import "./base/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "./base/fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Roboto, Arial, Verdana, sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "./base/variables";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "./base/null";

html {
	scroll-behavior: smooth;
}

body {
	font-family: $fontFamily;
	color: #000;
	font-size: 14px;
	width: 100%;
	&._lock {
		overflow: hidden;
	}
}
html._lock {
	overflow: hidden;
}
picture {
	line-height: 0;
	font-size: 0;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: #f1f1f1;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}

$spaceBetweenCol: 66; // расстоние мехду колонками
$panelWidth: 320; // ширина правой панели
$mobileContainer: 768;
._mobile-container {
	max-width: $mobileContainer + px;
	margin: 0 auto;
}

.right-panel ._mobile-container {
	@media (min-width: calc(($mobileContainer + $spaceBetweenCol*2 + $panelWidth)*1px)) {
		margin-left: calc((100vw - $mobileContainer * 1px - $panelWidth * 1px) / 2);
	}

	@media (min-width: calc(($mobileContainer + $spaceBetweenCol*2 + $panelWidth*2)*1px)) {
		//1530px
		margin-left: auto;
	}
}

$widecontainer: 1244;
// Контейнер для страницы котировок
._wide-container {
	max-width: $widecontainer + px;
	margin: 0 auto;
	padding: 0 10px;
}

.right-panel-wide {
	._wide-container {
		@media (min-width: calc(($widecontainer + $spaceBetweenCol*2 + $panelWidth)*1px)) {
			margin-left: calc((100vw - $widecontainer * 1px - $panelWidth * 1px) / 2);
		}

		@media (min-width: calc(($widecontainer + $spaceBetweenCol*2 + $panelWidth*2)*1px)) {
			margin-left: auto;
		}
	}

	@media (min-width: calc(($widecontainer + $spaceBetweenCol*2 + $panelWidth)*1px)) {
		// костыль для контейнера с кнопками на стр. котировок
		.qn-menu__actions-wrap {
			max-width: calc(100vw - $panelWidth * 1px - 30px) !important;
		}
	}
}

._style-2 {
	&,
	.wrapper {
		background: #e5e5e5;
	} 
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "./base/global";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./plugins/simplebar";
@import "./plugins/bootstrap-datepicker";
@import "./plugins/sumoselect";
@import "./plugins/nouislider";
@import "./plugins/flex-table";

//@import "./plugins/swiper-bundle.min.css"; // Подключен минимальный наботр правил _custom-swiper
@import "./blocks/_custom-swiper"; // Минимальные и необходимые стили для слайдера swiper
@import "./blocks/_header";
@import "./blocks/_main";
@import "./blocks/_search-block";
@import "./blocks/_menu";
@import "./blocks/_alphabet";
@import "./blocks/_navbar";
@import "./blocks/_apps-box";
@import "./blocks/_quotes";
@import "./blocks/_sections-box";
@import "./blocks/_post-card";
@import "./blocks/_post-head";
@import "./blocks/_company-box";
@import "./blocks/_post-page";
@import "./blocks/_post-history";
@import "./blocks/_user-info";
@import "./blocks/_comments";
@import "./blocks/_person";
@import "./blocks/_lock-comments";
@import "./blocks/_footer_mob";
@import "./blocks/_app-box";
@import "./blocks/_social-btn";
@import "./blocks/_forums-slider";
@import "./blocks/_arrow-to-top";
@import "./blocks/_moderation-pop-up";
@import "./blocks/custom-checkbox";
@import "./blocks/custom-radio";
@import "./blocks/custom-select";
@import "./blocks/_add-form";
@import "./blocks/_add-post";
@import "./blocks/_news-feed";
@import "./blocks/_nf-filter";
@import "./blocks/_slide-sidebar";
@import "./blocks/_short-comment";
@import "./blocks/transfer-btn";
@import "./blocks/_login";
@import "./blocks/_quick-comment";
@import "./blocks/_not-found";
@import "./blocks/_donate-btn";
@import "./blocks/_brokers-links";
@import "./blocks/_lower-banner";
@import "./blocks/rating";
@import "./blocks/book-review-info";
@import "./blocks/spinner-loader";
@import "./blocks/_warning-popup";

// стили страницы котировок (дизайн страницы кардинально отличается от новой версии)
@import "./blocks/_quotes-menu";
@import "./blocks/_selector-links";
@import "./blocks/_buy-shares";
@import "./blocks/_trades-table";
@import "./blocks/_qn-filters";
@import "./blocks/_quotes-body";
@import "./blocks/_quotes-action-block";
@import "./blocks/_quotes-info-list";
@import "./blocks/_quotes-simple-table";
@import "./blocks/_custom-table";
@import "./blocks/_quotes-management";
@import "./blocks/_footer";
@import "./blocks/_pager"; 
@import "./blocks/_linear-progress-bar"; 
@import "./blocks/_table-mask"; 
@import "./blocks/_jBox-trades-table"; 
//@import "./plugins/datepicker-new";

// стили для темной темы должны подклячаться в конце
@import "./blocks/dark-theme";

// Костыли для совместимости
@import "./blocks/crutches";
@import "./blocks/style.more.login";
@import "./blocks/jBox-with-custom-pop-up";

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Доп правила для jBox>===

/* .jBox-Tooltip .jBox-container {
	max-width: calc(100% - 20px) !important;
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(0 0 0 / 25%);
	overflow: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
.jBox-content {
	overflow: hidden;
	padding: 0 !important;
} */
