//<МИКСИНЫ>===============================================================================================
@import "./base/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");
@import "./base/fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Roboto, Arial,  Verdana, sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "./base/variables";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "./base/null";

html {
	scroll-behavior: smooth;
}

body {
	font-family: $fontFamily;
	color: #000;
	font-size: 14px;
	width: 100%;
	&._lock {
		overflow: hidden;
	}
}
html._lock  {
	overflow: hidden;
}
picture {
    line-height: 0;
    font-size: 0;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	position: relative;
	width: 100%;
	background: #f1f1f1;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}

._mobile-container {
	max-width: 768px;
	margin: 0 auto; 
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "./base/global";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./plugins/simplebar";
@import "./plugins/bootstrap-datepicker";

//@import "./plugins/jBox.all";  // Может испортить верстку
@import "./blocks/_custom-swiper";
@import "./blocks/_header";
@import "./blocks/_main";
@import "./blocks/_search-block";
@import "./blocks/_menu";
@import "./blocks/_alphabet";
//@import "./blocks/_navbar"; // Планируется использваование этого блока на других страницах
@import "./blocks/_apps-box";
@import "./blocks/_quotes";
@import "./blocks/_sections-box";
@import "./blocks/_post-card";
@import "./blocks/_company-box";
@import "./blocks/_post-page";
@import "./blocks/_user-info";
@import "./blocks/_comments";
@import "./blocks/_footer_mob";
@import "./blocks/_social-btn";
@import "./blocks/_forums-slider";
@import "./blocks/_arrow-to-top";
@import "./blocks/_moderation-pop-up";
@import "./blocks/custom-checkbox";
@import "./blocks/custom-select";
@import "./blocks/_add-form";
@import "./blocks/_add-post";
@import "./blocks/_news-feed";
@import "./blocks/_right-sidebar";
@import "./blocks/_last-changes";


// Костыли для совместимости 
@import "./blocks/crutches"; 
@import "./blocks/style.more.login";


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<Доп правила для jBox>===

/* .jBox-Tooltip .jBox-container {
	max-width: calc(100% - 20px) !important;
	border-radius: 5px;
	box-shadow: 0 0 3px rgb(0 0 0 / 25%);
	overflow: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
.jBox-content {
	overflow: hidden;
	padding: 0 !important;
} */